////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////

// .sidebar_form

$sidebar_form_bg_color: $color_dark_three;

// .sidebar_form ul li:after

$sidebar_form_asterisk_size: 16px;
$sidebar_form_asterisk_size_large_laptop: 20px;
$sidebar_form_asterisk_size_small_monitor: 30px;

$sidebar_form_asterisk_color: $color_bright_one;

// .sidebar_form ul li input,textarea,select

$sidebar_form_input_bg_color: $color_light_one;

$sidebar_form_input_size: 12px;
$sidebar_form_input_size_large_laptop: 13px;
$sidebar_form_input_size_small_monitor: 15px;

$sidebar_form_input_spacing: 0.7px;
$sidebar_form_input_small_monitor: 0.75px;

$sidebar_form_input_color: $color_dark_two;

// .gform_footer:before

$sidebar_form_submit_bg_color: $color_grad_one;

// .gform_footer:after

$sidebar_form_submit_bg_color_hover: $color_light_one;

// .gform_footer input

$sidebar_form_submit_size: 17px;
$sidebar_form_submit_small_monitor: 24px;

$sidebar_form_submit_color: $color_light_one;

// .gfield_description, .validation_message

$sidebar_form_error_size: 9px;

$sidebar_form_error_spacing: 1.5px;

$sidebar_form_error_height: 12px;

$sidebar_form_error_color: $color_bright_one;

$sidebar_form_error_weight: 700;

// span.required

$sidebar_form_required_size: 10px;
$sidebar_form_required_size_large_laptop: 11px;
$sidebar_form_required_size_small_monitor: 13px;

$sidebar_form_required_spacing: 1.1px;

// span.required:before

$sidebar_form_required_asterisk_size: 15px;
$sidebar_form_required_asterisk_size_large_laptop: 20px;
$sidebar_form_required_asterisk_size_small_monitor: 30px;

//span.sidebar_form_title

$sidebar_form_title_size: 22px;
$sidebar_form_title_size_large_laptop: 25px;
$sidebar_form_title_size_small_monitor: 35px;

$sidebar_form_title_height: 22px;
$sidebar_form_title_height_large_laptop: 25px;
$sidebar_form_title_height_small_monitor: 35px;

$sidebar_form_title_color: $color_light_one;

$sidebar_form_title_weight: 500;

// .widget h3

$sidebar_h3_size: 20px;
$sidebar_h3_size_small_laptop: 17px;
$sidebar_h3_size_large_laptop: 20px;
$sidebar_h3_size_small_monitor: 25px;

$sidebar_h3_height: 22px;

$sidebar_h3_weight: 500;

// .widget span.double_line:before,&:after

$sidebar_double_line_bg_color: $color_bright_two;

// widget ul li

$sidebar_size: 13px;
$sidebar_size_small_laptop: 12px;
$sidebar_size_large_laptop: 13px;
$sidebar_size_small_monitor: 16px;

$sidebar_height: 17px;

$sidebar_weight: 600;

// widget ul li a

$sidebar_color: $color_dark_three;

$sidebar_color_hover: $color_bright_two;

// widget ul.menu li.menu-item-has-children.active a

$sidebar_active_color: $color_bright_two;

// widget ul.menu li.menu-item-has-children.active a:after

$sidebar_tri_active_color: $color_bright_two;

// widget ul.menu li.current-menu-ancestor a

$sidebar_current_menu_ancestor_color: $color_bright_two;

// widget ul.sub-menu

$sidebar_submenu_bg_color: $color_light_one;

// widget ul.sub-menu li

$sidebar_submenu_size_small_monitor: 15px;

// widget ul.sub-menu li.current-menu-item

$sidebar_submenu_current_menu_item_color: $color_bright_two;

$sidebar_submenu_weight: 300;
