////////////////////////////////////////////////////////////////////
// Meet The Team Page
////////////////////////////////////////////////////////////////////

// .single_att

$single_att_bg_color: $color_dark_six;

// .placeholder_overlay

$placeholder_overlay_bg_color: $color_dark_three;

// span.view_profile

$view_profile_size: 14px;

$view_profile_spacing: 0.7px;

$view_profile_color: $color_light_one;

$view_profile_weight: 600;

// .single_att_title_wrapper

$single_att_title_wrapper_border_bg_color: $color_bright_two;

// span.single_att_name

$single_att_name_size: 22px;
$single_att_name_size_small_tablet: 23px;
$single_att_name_size_large_laptop: 30px;

$single_att_height: 22px;
$single_att_height_small_tablet: 23px;
$single_att_height_large_laptop: 30px;

$single_att_color: $color_dark_three;

$single_att_weight: 400;

// span.single_att_name:hover

$single_att_color_hover: $color_bright_two;

// span.single_att_position

$single_att_position_size: 13px;
$single_att_position_size_small_tablet: 15px;

$single_att_position_spacing: 0.7px;

$single_att_position_height: 15px;
$single_att_position_height_small_tablet: 17px;

$single_att_position_color: $color_bright_two;

$single_att_position_weight: 700;

// .placeholder_inner

$placeholder_bg_color: $color_dark_three;

$placeholder_color: $color_light_one;

$placeholder_size: 14px;

$placeholder_spacing: 0.7px;

$placeholder_color: $color_light_one;

$placeholder_weight: 600;
