////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////

$mobile: 530px;
$large_mobile: 675px;
$small_tablet: 768px;
$tablet: 1066px;
$small_laptop: 1170px;
$large_laptop: 1380px;
$small_monitor: 1695px;
$monitor: 1800px;
