body.page-template-template-contact {
  h1#internal_header {
    br {
      @include mq(mobile) {
        display: none;
      }
    }
  }
}

span.double_line.contact_header {
  max-width: 75px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-top: -15px;
  }
}

#contact_wrapper {
  background: $contact_wrapper_bg_color;
  box-shadow: 0px 1px 20px #0000001a;
  margin: 30px 0 0;
  position: relative;
  z-index: 1;
  padding: 50px 30px 0;
  max-width: 430px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 100%;
    padding: 50px 42px 0;
  }
  @include mq(small_tablet) {
    max-width: 750px;
  }
  @include mq(small_laptop) {
    max-width: 800px;
  }
  @include mq(large_laptop) {
    max-width: 1050px;
    padding: 70px 72px 20px;
    margin-top: 65px;
  }
  @include mq(small_monitor) {
    max-width: 1460px;
    margin-top: 80px;
    padding: 70px 62px 25px 158px;
  }
}

#contact_locations {
  #locations {
    padding-bottom: 53px;
    @include mq(small_tablet) {
      padding: 0 0 10px;
      text-align: center;
    }
  }
  .loc_col {
    &:nth-of-type(1) {
      @include mq(large_laptop) {
        margin-left: 0;
      }
      @include mq(small_monitor) {
        margin-left: 42px;
      }
    }
    &:nth-of-type(2) {
      @include mq(small_tablet) {
        flex-basis: 232px;
      }
      @include mq(large_laptop) {
        flex-basis: 280px;
      }
      @include mq(small_monitor) {
        flex-basis: 310px;
      }
    }
    span,
    a.loc_phone {
      color: $contact_loc_phone;
    }
    span {
      &.double_line {
        @include margin_lr;
      }
      &.address {
        br {
          &:first-of-type {
            @include mq(large_laptop) {
              display: none;
            }
          }
        }
      }
    }
  }
  .loc_descrip {
    @include mq(small_monitor) {
      font-size: $contact_loc_descrip_size;
    }
  }
  span.loc_cta {
    max-width: 255px;
    @include mq(small_tablet) {
      max-width: 100%;
    }
  }
  a.get_directions {
    color: $contact_get_directions_color;
    border: 1px solid $contact_get_directions_bg_color;
    @include mq(small_monitor) {
      margin-top: 40px;
      border: 2px solid $contact_get_directions_bg_color_small_monitor;
    }
    &:hover {
      background: $contact_get_directions_bg_color_hover;
      color: $contact_get_directions_color_hover;
      border: 1px solid $contact_get_directions_border_bg_color_hover;
      @include mq(small_monitor) {
        border: 2px solid $color_bright_two;
      }
    }
  }
  .social_media {
    @include mq(small_tablet) {
      justify-content: center;
    }
    a {
      @include mq(small_tablet) {
        margin: 0 7px;
      }
      &:hover {
        svg {
          path {
            fill: $contact_social_media_bg_color_hover;
          }
        }
      }
      svg {
        path {
          fill: $contact_social_media_bg_color;
        }
      }
    }
  }
}

#contact_bottom {
  background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
  margin-top: -450px;
  @include box(100%, 450px);
  @include mq(small_tablet) {
    margin-top: -230px;
    height: 240px;
  }
  @include mq(large_laptop) {
    margin-top: -300px;
    height: 280px;
  }
  @include mq(small_monitor) {
    margin-top: -311px;
    height: 360px;
  }
}

body.page-template-template-contact {
  #footer_form_wrapper {
    padding: 54px 35px 112px;
    @include mq(small_tablet) {
      padding: 85px 60px 40px;
    }
    @include mq(small_laptop) {
      padding: 96px 0px 40px;
    }
    @include mq(large_laptop) {
      padding: 119px 0px 162px;
    }
    @include mq(small_monitor) {
      padding: 141px 60px 40px;
    }
  }
  #copyright_wrapper {
    @include mq(large_laptop) {
      margin-top: 0;
    }
    @include mq(small_monitor) {
      margin-top: 120px;
    }
  }
}
