body.page-template-template-caseresults,
body.tax-case_results_category {
  #internal_main {
    background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
  }
}

#case_results_wrapper {
  text-align: center;
  @include mq(small_tablet) {
    padding-top: 40px;
  }
  @include mq(small_monitor) {
    padding-top: 55px;
    max-width: 1422px;
    @include margin_lr;
  }
}

#select_wrapper {
  @include mq(large_laptop) {
    text-align: left;
  }
}

span#select_category_title {
  display: block;
  @include type(
    (
      size: $select_category_title_size,
      spacing: $select_category_title_spacing,
      height: $select_category_title_height,
      family: $primaryfont,
      color: $select_category_title_color,
      weight: $select_category_title_weight,
    )
  );
}

#select_dropdown_wrapper {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 390px;
  @include margin_lr;
  @include mq(large_laptop) {
    margin-left: 0;
    margin-right: 0;
  }
  @include mq(small_monitor) {
    max-width: 489px;
  }
  @include type(
    (
      size: $select_dropdown_wrapper_size,
      height: $select_dropdown_wrapper_height,
      spacing: $select_dropdown_wrapper_spacing,
      family: $primaryfont,
      color: $select_dropdown_wrapper_color,
      weight: $select_dropdown_wrapper_weight,
      transform: uppercase,
    )
  );
  @include mq(small_monitor) {
    @include quick_type(
      $select_dropdown_wrapper_small_monitor,
      $select_dropdown_wrapper_height_small_monitor,
      null
    );
  }
}

#select_input {
  background: $select_input_bg_color;
  box-shadow: 0px 1px 20px #0000001a;
}

span#select_input_title {
  display: block;
  padding: 17px 45px 17px 20px;
  position: relative;
  border-bottom: 2px solid $select_input_title_border_bg_color;
  @include mq(small_monitor) {
    padding: 24px 45px 24px 37px;
  }
  &:after {
    @include abs(22px, 16px, null, null);
    @include contentdisplay();
    @include tri(down, 5px, 5px, $select_input_title_tri_bg_color);
    @include mq(small_monitor) {
      top: 31px;
      @include tri(down, 6px, 6px, $select_input_title_tri_bg_color);
    }
  }
}

#select_dropdown {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

#select_dropdown_inner {
  background: $select_dropdown_bg_color;
  box-shadow: 0px 1px 20px #0000001a;
  @include box(100%, auto);
  @include abs(0, null, null, 0);
  ul {
    list-style: none;
    overflow-y: scroll;
    @include mq(small_monitor) {
    }
    li {
      padding: 17px 45px 17px 20px;
      border-bottom: 1px solid $select_dropdown_list_item_border_bg_color;
      @include mq(small_monitor) {
        padding: 24px 45px 24px 37px;
      }
      a {
        text-decoration: none;
        color: $select_dropdown_color;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $select_dropdown_color_hover;
        }
      }
    }
  }
}

#case_result_boxes {
  margin: 55px auto -22px;
  @include mq(small_laptop) {
    column-count: 2;
    column-gap: 22px;
  }
}

.single_cr {
  width: 100%;
  display: inline-block;
  //page-break-inside: avoid;
  //break-inside: avoid;
  background: $single_cr_bg_color;
  box-shadow: 0px 1px 20px #0000001a;
  padding: 30px;
  margin-bottom: 22px;
  @include mq(small_tablet) {
    padding: 45px 40px;
  }
  @include mq(large_laptop) {
    padding: 60px 40px;
  }
  @include mq(small_monitor) {
    padding: 87px 40px 50px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    display: block;
    &.double_line {
      max-width: 75px;
    }
    &.single_cr_title {
      padding-bottom: 20px;
      @include type(
        (
          size: $single_cr_title_size,
          height: $single_cr_title_height,
          family: $secondaryfont,
          weight: $single_cr_title_weight,
        )
      );
      @include mq(large_laptop) {
        @include quick_type(
          $single_cr_title_size_large_laptop,
          $single_cr_title_height_large_laptop,
          null
        );
      }
      @include mq(small_monitor) {
        @include quick_type(
          $single_cr_title_size_small_monitor,
          $single_cr_title_height_small_monitor,
          null
        );
      }
    }
  }
  ul.single_cr_type {
    margin-top: 25px;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 7px;
      @include type(
        (
          size: $single_cr_type_size,
          spacing: $single_cr_type_spacing,
          height: $single_cr_type_height,
          family: $primaryfont,
          color: $single_cr_type_color,
          weight: $single_cr_type_weight,
          transform: uppercase,
        )
      );
      @include mq(large_laptop) {
        @include quick_type(
          $single_cr_type_size_large_laptop,
          $single_cr_type_size_small_monitor,
          null
        );
      }
      &:after {
        margin-left: 3px;
        @include contentdisplay(inline-block, ",");
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      a {
        color: $single_cr_type_color;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $single_cr_type_color_hover;
        }
      }
    }
  }
  .single_cr_content {
    margin-top: 10px;
    @include mq(small_monitor) {
      max-width: 590px;
      margin: 15px auto 0;
    }
  }
}
