////////////////////////////////////////////////////////////////////
// Case Results Page
////////////////////////////////////////////////////////////////////

// span#select_category_title

$select_category_title_size: 16px;

$select_category_title_spacing: 0.4px;

$select_category_title_height: 18px;

$select_category_title_color: $color_bright_two;

$select_category_title_weight: 600;

// #select_dropdown_wrapper

$select_dropdown_wrapper_size: 14px;
$select_dropdown_wrapper_small_monitor: 16px;

$select_dropdown_wrapper_height: 17px;
$select_dropdown_wrapper_height_small_monitor: 19px;

$select_dropdown_wrapper_spacing: 1.6px;

$select_dropdown_wrapper_color: $color_dark_two;

$select_dropdown_wrapper_weight: 600;

// #select_input

$select_input_bg_color: $color_light_one;

// span#select_input_title

$select_input_title_border_bg_color: $color_bright_two;

// span#select_input_title:after

$select_input_title_tri_bg_color: $color_dark_two;

// #select_dropdown_inner

$select_dropdown_bg_color: $color_light_one;

// #select_dropdown_inner ul li

$select_dropdown_list_item_border_bg_color: $color_dark_one;

// #select_dropdown_inner ul li a

$select_dropdown_color: $color_dark_two;

// #select_dropdown_inner ul li a:hover

$select_dropdown_color_hover: $color_bright_two;

// .single_cr

$single_cr_bg_color: $color_light_one;

// .single_cr span.single_cr_title

$single_cr_title_size: 23px;
$single_cr_title_size_large_laptop: 27px;
$single_cr_title_size_small_monitor: 30px;

$single_cr_title_height: 28px;
$single_cr_title_height_large_laptop: 32px;
$single_cr_title_height_small_monitor: 35px;

$single_cr_title_weight: 500;

// .single_cr ul.single_cr_type li

$single_cr_type_size: 13px;
$single_cr_type_size_large_laptop: 15px;
$single_cr_type_size_small_monitor: 19px;

$single_cr_type_spacing: 0.4px;

$single_cr_type_height: 17px;

$single_cr_type_color: $color_bright_two;

$single_cr_type_weight: 600;

// .single_cr ul.single_cr_type liLhover

$single_cr_type_color_hover: $color_dark_three;
