#pa_directory {
  text-align: center;
  max-width: 350px;
  margin-bottom: -35px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 600px;
    padding-bottom: 20px;
  }
  @include mq(small_laptop) {
    max-width: 900px;
    padding-bottom: 0;
    margin-bottom: -30px;
  }
  @include mq(large_laptop) {
    max-width: 1205px;
    margin-bottom: -55px;
  }
  @include mq(small_monitor) {
    margin-bottom: -80px;
  }
  span.double_line {
    max-width: 100%;
  }
  ul {
    list-style: none;
    li {
      a {
        display: block;
      }
    }
  }
  ul.pa_directory_top_menu {
    > li {
      margin-bottom: 40px;
      > a {
        margin-bottom: 10px;
        @include mq(small_tablet) {
          margin-bottom: 20px;
        }
        @include type(
          (
            size: $pa_directory_top_menu_size,
            spacing: $pa_directory_top_menu_spacing,
            height: $pa_directory_top_menu_height,
            weight: $pa_directory_top_menu_weight,
            family: $primaryfont,
            transform: uppercase,
          )
        );
        @include mq(small_tablet) {
          @include quick_type(
            $pa_directory_top_menu_size_small_tablet,
            $pa_directory_top_menu_height_small_tablet,
            null
          );
        }
        @include mq(small_monitor) {
          @include quick_type(
            $pa_directory_top_menu_size_small_monitor,
            $pa_directory_top_menu_height_small_monitor,
            null
          );
        }
      }
      div {
        margin-top: 25px;
        @include mq(small_tablet) {
          margin-bottom: 55px;
        }
        @include mq(small_monitor) {
          margin-bottom: 80px;
        }
        ul {
          @include mq(small_tablet) {
            @include flex(space-between, center, null, wrap);
          }
          li {
            @include type(
              (
                size: $pa_directory_sub_menu_size,
                height: $pa_directory_sub_menu_height,
                spacing: $pa_directory_sub_menu_spacing,
                family: $primaryfont,
                weight: $pa_directory_sub_menu_weight,
                transform: none,
              )
            );
            @include mq(small_tablet) {
              flex-basis: 47%;
            }
            @include mq(small_laptop) {
              flex-basis: 30%;
            }
            @include mq(small_monitor) {
              flex-basis: 27%;
              @include quick_type(16px, 18px, null);
            }
            a {
              padding: 14px 0;
              color: $pa_directory_sub_menu_color;
              text-decoration: none;
              border-bottom: 1px solid $pa_directory_sub_menu_border_bg_color;
              transition: all 200ms ease-in-out;
              @include flex(center, center);
              &:hover {
                color: $pa_directory_sub_menu_border_bg_color_hover;
              }
              @include mq(small_tablet) {
                height: 60px;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
