#landing_page_sidebar {
  display: none;
  @include mq(tablet) {
    display: block;
    position: relative;
    width: 330px;
    flex-shrink: 0;
    background: $color_dark_three;
  }
  @include mq(large_laptop) {
    width: 400px;
  }
  @include mq(small_monitor) {
    width: 470px;
  }
}

#landing_page_sidebar_inner {
  width: 330px;
  overflow-y: scroll;
  height: 100vh;
  @include fixed(0, 0, null, null);
  @include mq(large_laptop) {
    width: 400px;
  }
  @include mq(small_monitor) {
    width: 470px;
  }
}

body.single-landing_page {
  .sidebar_form {
    display: block;
    padding: 37px 33px 92px 33px;
    @include mq(large_laptop) {
      padding: 46px 33px 92px 33px;
    }
  }
  span.sidebar_form_title {
    @include quick_type(25px, 28px, null);
    @include mq(large_laptop) {
      @include quick_type(30px, 35px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(35px, 42px, null);
    }
  }
}
