////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////

// .button:before

$button_bg_color: $color_grad_one;

// .button:after

$button_bg_color_hover: $color_light_one;

$button_color_hover: $color_bright_one;

// button span

$button_size: 18px;

$button_size_small_tablet: 21px;

$button_color: $color_light_one;

$button_weight: 400;

// .button_two

$button_two_border_color: $color_bright_two;

$button_two_size: 11px;
$button_two_size_large_laptop: 12px;
$button_two_size_small_monitor: 14px;

$button_two_color: $color_bright_two;

$button_two_weight: 700;

$button_two_spacing: 1.5px;
$button_two_spacing_small_monitor: 2px;

// .button_two:hover

$button_two_bg_color_hover: $color_bright_two;

$button_two_color_hover: $color_light_one;

// .play_button:before

$play_button_bg_color: $color_dark_six;

$play_button_bg_color_hover: $color_bright_one;

// .play_button:after

$play_button_tri_bg_color: $color_bright_one;

$play_button_tri_bg_color_hover: $color_light_one;
