html.webp {
  #section_seven {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.webp) repeat;
    }
  }
}

html.no-webp {
  #section_seven {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
    }
  }
}

#section_seven {
  position: relative;
  padding: 57px 40px;
  @include mq(small_tablet) {
    padding: 57px 40px 30px;
  }
  @include mq(small_laptop) {
    padding: 69px 40px 30px;
  }
  @include mq(large_laptop) {
    padding: 73px 40px 15px;
  }
  @include mq(small_monitor) {
    padding: 95px 40px 60px;
  }
  &:after {
    background-size: 500px, 500px;
    opacity: 0.6;
    @include abs(0, null, null, 0);
    @include box(100%);
    @include contentdisplay();
  }
}

#sec_seven_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 400px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 650px;
  }
  @include mq(small_laptop) {
    max-width: 922px;
    text-align: left;
    @include margin_lr;
    @include flex();
  }
  @include mq(large_laptop) {
    max-width: 1165px;
  }
  @include mq(small_monitor) {
    max-width: 1600px;
  }
}

#sec_seven_left {
  @include mq(small_laptop) {
    flex-shrink: 0;
  }
  @include mq(small_monitor) {
    margin-top: 7px;
  }
  span.double_line {
    max-width: 130px;
    @include margin_lr;
    @include mq(small_tablet) {
      display: none;
    }
    &:before,
    &:after {
      background: $sec_seven_double_line_bg_color;
    }
  }
  a.button_two {
    display: none;
    @include mq(small_tablet) {
      display: inline-block;
    }
  }
}

span#sec_seven_title {
  display: block;
  margin-bottom: 32px;
  @include type(
    (
      size: $sec_seven_title_size,
      height: $sec_seven_title_height,
      family: $secondaryfont,
      weight: $sec_seven_title_weight,
    )
  );
  @include mq(small_tablet) {
    margin-bottom: 12px;
    @include quick_type(
      $sec_seven_title_size_small_tablet,
      $sec_seven_title_height_small_tablet,
      null
    );
  }
  @include mq(large_laptop) {
    max-width: 174px;
    margin-bottom: 21px;
    padding-top: 31px;
    text-align: left;
    @include quick_type(
      $sec_seven_title_size_large_laptop,
      $sec_seven_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 234px;
    @include quick_type(
      $sec_seven_title_size_small_monitor,
      $sec_seven_title_height_small_monitor,
      null
    );
  }
}

#sec_seven_right {
  margin-top: 15px;
  @include mq(small_tablet) {
    margin-top: 46px;
  }
  @include mq(small_laptop) {
    margin-top: -4px;
    padding-left: 105px;
    flex-grow: 1;
  }
  ul {
    list-style: none;
    margin-bottom: 25px;
    @include mq(small_tablet) {
      text-align: left;
      margin: 0 auto 25px;
      @include flex(space-between, null, null, wrap);
    }
    li {
      @include type(
        (
          size: $sec_seven_right_size,
          height: $sec_seven_right_height,
          family: $primaryfont,
        )
      );
      @include mq(small_tablet) {
        flex-basis: 47%;
      }
      @include mq(small_laptop) {
        flex-basis: 44%;
        @include quick_type(
          $sec_seven_right_size_small_laptop,
          $sec_seven_right_height_small_laptop,
          null
        );
      }
      @include mq(large_laptop) {
        @include quick_type(
          $sec_seven_right_size_large_laptop,
          $sec_seven_right_height_large_laptop,
          null
        );
      }
      @include mq(small_monitor) {
        flex-basis: 30%;
        @include quick_type(
          $sec_seven_right_size_small_monitor,
          $sec_seven_right_height_small_laptop,
          null
        );
      }
      &:nth-of-type(-n + 2) {
        a {
          @include mq(large_laptop) {
            border-top: 1px solid $sec_seven_right_border_bg_color;
          }
          @include mq(small_monitor) {
            border-top: none;
          }
        }
      }
      &:nth-last-of-type(-n + 6) {
        display: none;
        @include mq(small_tablet) {
          display: block;
        }
      }
      &:nth-last-of-type(-n + 2) {
        a {
          @include mq(small_tablet) {
            border: none;
          }
        }
      }
      &:nth-last-of-type(-n + 3) {
        a {
          @include mq(small_monitor) {
            border: none;
          }
        }
      }
      &:nth-of-type(6) {
        a {
          border: none;
          @include mq(small_tablet) {
            border-bottom: 1px solid $sec_seven_right_border_bg_color;
          }
        }
      }
      a {
        display: block;
        padding: 17px 0;
        color: $sec_seven_right_color;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        border-bottom: 1px solid $sec_seven_right_border_bg_color;
        @include mq(large_laptop) {
          padding: 29px 0;
        }
        &:hover {
          color: $sec_seven_right_color_hover;
        }
      }
    }
  }
  a.button_two {
    @include mq(small_tablet) {
      display: none;
    }
  }
}
