////////////////////////////////////////////////////////////////////
// Section Seven
////////////////////////////////////////////////////////////////////

// #sec_seven_left span.double_line

$sec_seven_double_line_bg_color: $color_bright_two;

// span#sec_seven_title

$sec_seven_title_size: 30px;
$sec_seven_title_size_small_tablet: 35px;
$sec_seven_title_size_large_laptop: 45px;
$sec_seven_title_size_small_monitor: 60px;

$sec_seven_title_height: 30px;
$sec_seven_title_height_small_tablet: 40px;
$sec_seven_title_height_large_laptop: 45px;
$sec_seven_title_height_small_monitor: 55px;

$sec_seven_title_weight: 500;

// #sec_seven_right ul li

$sec_seven_right_size: 15px;
$sec_seven_right_size_small_laptop: 14px;
$sec_seven_right_size_large_laptop: 17px;
$sec_seven_right_size_small_monitor: 19px;

$sec_seven_right_height: 17px;
$sec_seven_right_height_small_laptop: 17px;
$sec_seven_right_height_large_laptop: 19px;
$sec_seven_right_height_small_laptop: 24px;

// #sec_seven_right a

$sec_seven_right_border_bg_color: $color_dark_eight;

$sec_seven_right_color: $color_dark_three;

// #sec_seven_right a:hover

$sec_seven_right_color_hover: $color_bright_two;
