#section_one {
  margin: 127px 0 0;
  overflow: hidden;
  @include mq(small_tablet) {
    margin: 65px 0 0;
  }
  @include mq(small_laptop) {
    margin: 127px 0 0;
    @include flex();
  }
  @include mq(large_laptop) {
    margin-top: 0;
  }
}

#sec_one_left {
  position: relative;
  text-align: center;
  padding-bottom: 67px;
  @include mq(small_laptop) {
    flex-grow: 1;
    padding-bottom: 54px;
    text-align: left;
  }
  @include mq(large_laptop) {
    padding-bottom: 90px;
    @include flex(flex-end);
  }
  @include mq(small_monitor) {
    padding-bottom: 107px;
  }
}

#sec_one_left_inner {
  position: relative;
  z-index: 1;
  padding: 52px 0 0 0;
  @include mq(small_tablet) {
    padding: 87px 0 0 0;
  }
  @include mq(tablet) {
    padding: 110px 0 0 0;
  }
  @include mq(small_laptop) {
    max-width: 600px;
    margin-left: 90px;
    padding: 78px 0 0 0;
  }
  @include mq(large_laptop) {
    padding: 100px 93px 0 0;
    max-width: 100%;
  }
  @include mq(small_monitor) {
    padding: 177px 93px 0 0;
    margin-left: 103px;
  }
}

#sec_left_top {
  @include mq(small_laptop) {
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    @include flex(flex-start);
  }
}

#sec_left_bottom {
  @include mq(large_laptop) {
    padding-left: 25px;
  }
  @include mq(small_monitor) {
    padding-left: 0px;
  }
}

#sec_one_logos {
  height: 205px;
  @include mq(small_tablet) {
    height: 175px;
  }
  @include mq(small_laptop) {
    height: auto;
  }
}

#sec_one_video {
  border: 7px solid $sec_one_video_border_bg_color;
  position: relative;
  @include margin_lr;
  @include box(141px, 89px);
  @include mq(small_tablet) {
    @include box(195px, 121px);
  }
  @include mq(small_laptop) {
    display: none;
  }
  @include mq(large_laptop) {
    @include box(199px, 121px);
  }
  @include mq(small_monitor) {
    @include box(250px, 150px);
  }
  a {
    display: block;
  }
  img {
    object-fit: cover;
    @include abs(0, null, null, 0);
    @include image();
    @include box(100%);
  }
  .mywistia {
    @include box(100%);
    @include abs(0, null, null, 0, 1);
  }
}

#video_overlay {
  background: transparent;
  @include box(100%);
  @include abs(0, null, null, 0);
  @include flex(center, center);
}

span#sec_one_title {
  display: block;
  margin: 23px auto 0;
  max-width: 285px;
  @include type(
    (
      size: $sec_one_title_size,
      height: $sec_one_title_height,
      family: $secondaryfont,
      color: $sec_one_title_color,
      weight: $sec_one_title_weight,
    )
  );
  @include mq(small_tablet) {
    max-width: 496px;
    margin: 33px auto 0;
    @include quick_type(
      $sec_one_title_size_small_tablet,
      $sec_one_title_height_small_tablet,
      null
    );
  }
  @include mq(small_laptop) {
    order: 2;
    text-align: left;
    margin: 0px 0 0 50px;
    @include quick_type(
      $sec_one_title_size_small_laptop,
      $sec_one_title_height_small_laptop,
      null
    );
  }
  @include mq(large_laptop) {
    max-width: 425px;
    margin: 0px 0 0 33px;
    @include quick_type(
      $sec_one_title_size_large_laptop,
      $sec_one_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 470px;
    margin: 0px 0 0 64px;
    @include quick_type(
      $sec_one_title_size_small_monitor,
      $sec_one_title_height_small_monitor,
      null
    );
  }
  @include mq(monitor) {
    max-width: 645px;
    @include quick_type(
      $sec_one_title_size_monitor,
      $sec_one_title_height_monitor,
      null
    );
  }
}

ul#sec_one_selling_points {
  list-style: none;
  display: inline-block;
  margin-top: 13px;
  @include mq(small_tablet) {
    margin-top: 15px;
  }
  @include mq(large_laptop) {
    margin-top: 27px;
  }
  @include mq(small_monitor) {
    margin-top: 36px;
  }
  li {
    position: relative;
    padding-left: 13px;
    @include type(
      (
        size: $sec_one_selling_points_size,
        spacing: $sec_one_selling_points_spacing,
        height: $sec_one_selling_points_height,
        family: $primaryfont,
        color: $sec_one_selling_points_color,
        weight: $sec_one_selling_points_weight,
        align: left,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      display: inline-block;
      padding-left: 15px;
    }
    @include mq(small_laptop) {
      display: block;
      margin-bottom: 8px;
    }
    @include mq(large_laptop) {
      @include quick_type(
        $sec_one_selling_points_size_large_laptop,
        null,
        $sec_one_selling_points_spacing_large_laptop
      );
    }
    @include mq(small_monitor) {
      margin-bottom: 18px;
      @include quick_type(
        $sec_one_selling_points_size_small_monitor,
        null,
        null
      );
    }
    &:first-of-type {
      &:before {
        @include mq(small_tablet) {
          display: none;
        }
        @include mq(small_laptop) {
          display: block;
        }
      }
    }
    &:before {
      border-radius: 50%;
      background: $sec_one_selling_points_bullet_bg_color;
      @include abs(6px, null, null, 0);
      @include box(5px);
      @include contentdisplay();
      @include mq(small_tablet) {
        margin-left: 4px;
      }
      @include mq(small_laptop) {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}

#laptop_content {
  order: 1;
  @include mq(large_laptop) {
    flex-basis: 220px;
    flex-shrink: 0;
    @include mq(small_monitor) {
      flex-basis: 250px;
    }
  }
  #sec_one_video {
    display: none;
    @include mq(small_laptop) {
      display: block;
      margin: 0;
    }
  }
}

img#hero {
  object-fit: cover;
  object-position: center center;
  @include image();
  @include box(100%);
  @include abs(0, null, null, 0);
}

a.free_consult_button {
  max-width: 265px;
  margin-top: 29px;
  @include mq(small_tablet) {
    max-width: 303px;
  }
  @include mq(small_laptop) {
    display: none;
  }
}

span#sec_one_logo_title {
  display: inline-block;
  background: $sec_one_logo_title_bg_color;
  padding: 9px 25px;
  margin-top: 52px;
  @include type(
    (
      size: $sec_one_logo_title_size,
      spacing: $sec_one_logo_title_spacing,
      family: $primaryfont,
      color: $sec_one_logo_title_color,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    margin-top: 66px;
  }
  @include mq(small_laptop) {
    margin-top: 45px;
    color: $sec_one_logo_title_color_small_laptop;
    background: $sec_one_logo_title_bg_color_small_laptop;
  }
  @include mq(large_laptop) {
    margin-top: 67px;
  }
  @include mq(small_monitor) {
    margin-top: 62px;
  }
}

#sec_one_slider {
  max-width: 245px;
  margin: 40px auto 0px;
  @include mq(small_tablet) {
    margin: 40px auto 0px;
    max-width: 630px;
  }
  @include mq(small_laptop) {
    margin: 30px 0 0px;
    @include flex();
  }
  @include mq(small_monitor) {
    margin: 48px 0 0px;
  }
  .slick-dots {
    position: static;
    margin-top: 20px;
    li.slick-active {
      button {
        &:before {
          color: $color_bright_one;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_one;
        }
      }
    }
    li {
      margin: 0;
      width: 20px;
      button {
        width: 20px;
        &:before {
          width: 20px;
          opacity: 1;
          color: $color_light_one;
          font-size: 25px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.sec_one_slide {
  height: 40px;
  @include mq(small_laptop) {
    margin-right: 55px;
  }
  &.three {
    .sec_one_slide_inner {
      img {
        height: 32px;
        @include mq(small_monitor) {
          height: 45px;
        }
      }
    }
  }
  .sec_one_slide_inner {
    height: 100%;
    @include flex(center, center);
    @include mq(small_laptop) {
      justify-content: flex-start;
    }
    svg,
    img {
      margin: auto;
      @include image();
      height: 25px;
      @include mq(small_tablet) {
        height: 27px;
      }
      @include mq(small_laptop) {
        height: 27px;
        margin: 0;
      }
      @include mq(small_monitor) {
        height: 37px;
      }
      path,
      polygon,
      circle {
        fill: $color_dark_seven;
      }
    }
  }
}

#sec_one_right {
  display: none;
  position: relative;
  z-index: 1;
  @include mq(small_laptop) {
    display: block;
    background: $sec_one_right_bg_color;
    flex-shrink: 0;
    flex-basis: 436px;
    padding: 51px 0 0 0;
  }
  @include mq(large_laptop) {
    flex-basis: 556px;
    padding: 61px 0 0 0;
  }
  @include mq(small_monitor) {
    flex-basis: 675px;
    padding: 103px 0 0 0;
  }
  @include mq(monitor) {
    flex-basis: 800px;
  }
  .gform_wrapper {
    padding: 23px 0 0 0;
    text-align: center;
    @include mq(small_monitor) {
      padding: 29px 0 0 0;
    }
    ul {
      list-style: none;
      @include flex(space-between, null, null, wrap);
      li {
        display: block;
        flex-basis: 100%;
        margin-bottom: 9px;
        position: relative;
        text-align: left;
        @include mq(small_monitor) {
          margin-bottom: 14px;
        }
        &:nth-of-type(-n + 4) {
          flex-basis: 49%;
          @include mq(small_monitor) {
            flex-basis: 48.5%;
          }
        }
        &:after {
          @include abs(17px, 9px, null, null);
          @include contentdisplay(block, "*");
          @include type(
            (
              size: $sec_one_form_required_size,
              family: $secondaryfont,
              color: $sec_one_form_required_color,
              weight: $sec_one_form_required_weight,
            )
          );
          @include mq(small_monitor) {
            font-size: $sec_one_form_required_size_small_monitor;
            @include abs(22px, 15px, null, null);
          }
        }
        label {
          display: none;
        }
        input,
        textarea,
        select {
          width: 100%;
          background: $color_light_one;
          border-radius: 4px;
          border: none;
          padding: 12px 10px;
          @include type(
            (
              size: $sec_one_form_input_size,
              spacing: $sec_one_form_input_spacing,
              family: $primaryfont,
              color: $sec_one_form_input_color,
            )
          );
          @include mq(small_laptop) {
            padding: 12px 22px 12px 10px;
          }
          @include mq(large_laptop) {
            font-size: $sec_one_form_input_size_large_laptop;
            padding: 15px 25px 15px 10px;
          }
          @include mq(small_monitor) {
            padding: 21px 28px 21px 21px;
            font-size: $sec_one_form_input_size_small_monitor;
          }
        }
        textarea {
          height: 74px;
          @include mq(large_laptop) {
            height: 121px;
          }
          @include mq(small_monitor) {
            height: 111px;
          }
        }
        select {
          -webkit-appearance: none;
        }
      }
      li#field_1_8 {
        display: none;
      }
    }
    .gform_footer {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-top: 22px;
      &:hover {
        input {
          color: $color_bright_one;
        }
        &:after {
          opacity: 1;
        }
      }
      @include mq(small_monitor) {
        margin-top: 37px;
      }
      &:before,
      &:after {
        border-radius: 50px;
        z-index: -1;
        @include contentdisplay();
        @include box(100%);
        @include abs(0, null, null, 0);
      }
      &:before {
        background: $sec_one_form_submit_bg_color;
      }
      &:after {
        background: $sec_one_form_submit_bg_color_hover;
        opacity: 0;
        transition: all 200ms ease-in-out;
      }
      input {
        background: transparent;
        border: none;
        padding: 10px 25px;
        cursor: pointer;
        @include type(
          (
            size: $sec_one_form_submit_size,
            family: $secondaryfont,
            color: $sec_one_form_submit_color,
            transform: lowercase,
          )
        );
        @include mq(large_laptop) {
          padding: 14px 25px;
          @include quick_type(
            $sec_one_form_submit_size_large_laptop,
            null,
            null
          );
        }
        @include mq(small_monitor) {
          padding: 14px 30px;
          @include quick_type(
            $sec_one_form_submit_size_small_monitor,
            null,
            null
          );
        }
      }
    }
    .gfield_description,
    .validation_message {
      margin-top: 3px;
      @include type(
        (
          size: $sec_one_form_error_size,
          spacing: $sec_one_form_error_spacing,
          height: $sec_one_form_error_height,
          family: $primaryfont,
          color: $sec_one_form_error_color,
          weight: $sec_one_form_error_weight,
          align: left,
          transform: uppercase,
        )
      );
    }
    #validation_message_1_3 {
      display: none; // hide "this field is required on the phone input bc thers is no room. "Phone Format" is left there
    }
  }
}

span.required {
  display: block;
  margin-top: -64px;
  @include type(
    (
      size: $sec_one_required_size,
      spacing: $sec_one_required_spacing,
      family: $primaryfont,
      color: $sec_one_required_color,
      transform: lowercase,
    )
  );
  @include mq(large_laptop) {
    margin-top: -76px;
    font-size: $sec_one_required_size_large_laptop;
  }
  @include mq(small_monitor) {
    font-size: $sec_one_required_size_small_monitor;
    margin-top: -96px;
  }
  &:before {
    vertical-align: top;
    margin-top: -2px;
    margin-right: 5px;
    @include contentdisplay(inline-block, "*");
    @include type(
      (
        size: $sec_one_required_asterisk_size,
        family: $primaryfont,
        color: $sec_one_required_asterisk_color,
      )
    );
    @include mq(small_monitor) {
      font-size: $sec_one_required_asterisk_size_small_monitor;
      margin-top: 1px;
    }
  }
}

#sec_one_right_inner {
  max-width: 313px;
  @include margin_lr;
  @include mq(small_laptop) {
    padding-bottom: 114px;
  }
  @include mq(large_laptop) {
    max-width: 420px;
    padding-bottom: 122px;
  }
  @include mq(small_monitor) {
    max-width: 575px;
  }
  .double_line {
    max-width: 85px;
    @include margin_lr;
  }
}

span#sec_one_form_title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  @include type(
    (
      size: $sec_one_form_title_size,
      height: $sec_one_form_title_height,
      family: $secondaryfont,
      color: $sec_one_form_title_color,
      weight: $sec_one_form_title_weight,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(
      $sec_one_form_title_size_large_Laptop,
      $sec_one_form_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    @include quick_type(
      $sec_one_form_title_size_small_monitor,
      $sec_one_form_title_height_small_monitor,
      null
    );
  }
}
