////////////////////////////////////////////////////////////////////
// Section One
////////////////////////////////////////////////////////////////////

// #sec_one_video

$sec_one_video_border_bg_color: $color_light_one;

// span#sec_one_title

$sec_one_title_size: 35px;
$sec_one_title_size_small_tablet: 52px;
$sec_one_title_size_small_laptop: 49px;
$sec_one_title_size_large_laptop: 53px;
$sec_one_title_size_small_monitor: 63px;
$sec_one_title_size_monitor: 82px;

$sec_one_title_height: 35px;
$sec_one_title_height_small_tablet: 50px;
$sec_one_title_height_small_laptop: 49px;
$sec_one_title_height_large_laptop: 55px;
$sec_one_title_height_small_monitor: 67px;
$sec_one_title_height_monitor: 85px;

$sec_one_title_color: $color_light_one;

$sec_one_title_weight: 500;

// ul#sec_one_selling_points li

$sec_one_selling_points_size: 12px;
$sec_one_selling_points_size_large_laptop: 13px;
$sec_one_selling_points_size_small_monitor: 16px;

$sec_one_selling_points_spacing: 1.8px;
$sec_one_selling_points_spacing_large_laptop: 1.95px;

$sec_one_selling_points_height: 17px;

$sec_one_selling_points_color: $color_light_one;

$sec_one_selling_points_weight: 800;

// ul#sec_one_selling_points li:before

$sec_one_selling_points_bullet_bg_color: $color_bright_one;

// span#sec_one_logo_title

$sec_one_logo_title_size: 12px;

$sec_one_logo_title_spacing: 1.5px;

$sec_one_logo_title_color: $color_bright_one;
$sec_one_logo_title_color_small_laptop: $color_light_one;

$sec_one_logo_title_bg_color: $color_light_one;
$sec_one_logo_title_bg_color_small_laptop: $color_bright_two;

// #sec_one_right

$sec_one_right_bg_color: $color_dark_three;

// .gform_wrapper ul li:after

$sec_one_form_required_size: 15px;
$sec_one_form_required_size_small_monitor: 30px;

$sec_one_form_required_color: $color_bright_one;

$sec_one_form_required_weight: 400;

// .gform_wrapper ul li input,textarea,select

$sec_one_form_input_size: 12px;
$sec_one_form_input_size_large_laptop: 13px;
$sec_one_form_input_size_small_monitor: 15px;

$sec_one_form_input_spacing: 0.6px;

$sec_one_form_input_color: $color_dark_two;

// .gform_footer:before

$sec_one_form_submit_bg_color: $color_grad_one;

// .gform_footer:after

$sec_one_form_submit_bg_color_hover: $color_light_one;

// .gform_footer input

$sec_one_form_submit_size: 17px;
$sec_one_form_submit_size_large_laptop: 20px;
$sec_one_form_submit_size_small_monitor: 24px;

$sec_one_form_submit_color: $color_light_one;

// .gfield_description, .validation_message

$sec_one_form_error_size: 10px;

$sec_one_form_error_spacing: 1.8px;

$sec_one_form_error_height: 12px;

$sec_one_form_error_color: $color_bright_one;

$sec_one_form_error_weight: 700;

// span.required

$sec_one_required_size: 10px;
$sec_one_required_size_large_laptop: 11px;
$sec_one_required_size_small_monitor: 15px;

$sec_one_required_spacing: 0.5px;

$sec_one_required_color: $color_light_one;

// span.required:before

$sec_one_required_asterisk_size: 15px;
$sec_one_required_asterisk_size_small_monitor: 30px;

$sec_one_required_asterisk_color: $color_bright_one;

// span#sec_one_form_title

$sec_one_form_title_size: 24px;
$sec_one_form_title_size_large_Laptop: 30px;
$sec_one_form_title_size_small_monitor: 37px;

$sec_one_form_title_height: 25px;
$sec_one_form_title_height_large_laptop: 31px;
$sec_one_form_title_height_small_monitor: 39px;

$sec_one_form_title_color: $color_light_one;

$sec_one_form_title_weight: 500;
