////////////////////////////////////////////////////////////////////
// Navigation
////////////////////////////////////////////////////////////////////

// nav

$nav_menu_bg_color: $color_dark_six;

$nav_menu_border_bg_color: $color_bright_two;

// nav ul.menu li

$nav_menu_size: 12px;
$nav_menu_size_small_tablet: 14px;
$nav_menu_size_tablet: 10px;
$nav_menu_size_large_laptop: 12px;
$nav_menu_size_small_monitor: 15px;

$nav_menu_spacing: 0.6px;
$nav_menu_spacing_small_tablet: 0.7px;
$nav_menu_spacing_tablet: 0.5px;
$nav_menu_spacing_large_laptop: 0.6px;
$nav_menu_spacing_small_monitor: 0.75px;

$nav_menu_height: 15px;
$nav_menu_height_small_tablet: 16px;
$nav_menu_height_tablet: 12px;
$nav_menu_height_large_laptop: 14px;
$nav_menu_height_small_monitor: 16px;

// nav ul.menu li a

$nav_menu_color: $color_dark_three;

$nav_menu_color_hover_tablet: $color_bright_two;

// nav ul.menu li.menu-item-has-children:hover a

$nav_menu_item_has_children_color_hover: $color_bright_two;

// nav ul.menu li.menu-item-has-children a:after (triangle)

$nav_menu_item_has_children_tri_color: $color_dark_three;

// nav ul.menu li.menu-item-has-children:hover a:after (triangle)

$nav_menu_item_has_children_tri_color_hover: $color_bright_two;

// nav ul.menu li.menu-item-has-children.active

$nav_menu_item_has_children_active_bg_color: $color_light_one;

// nav ul.menu li.menu-item-has-children a.active

$nav_menu_item_has_children_active_link_color: $color_bright_two;

// nav ul.menu li.menu-item-has-children a.active:after (triangle)

$nav_menu_item_has_children_active_tri_color: $color_bright_two;

// nav ul.menu li.current-menu-ancestor a

$nav_current_menu_ancestor_link_color: $color_bright_two;

// nav ul.menu li.current-menu-ancestor a:after (triangle)

$nav_current_menu_ancestor_tri_color: $color_bright_two;

// nav ul.menu li.current-menu-item a

$nav_current_menu_item_link_color: $color_bright_two;

// nav ul.sub-menu

$nav_sub_menu_bg_color: $color_light_one;

$nav_sub_menu_size_small_tablet: 14px;
$nav_sub_menu_size_tablet: 10px;
$nav_sub_menu_size_large_laptop: 12px;
$nav_sub_menu_size_small_monitor: 15px;

$nav_sub_menu_height_small_tablet: 16px;
$nav_sub_menu_height_tablet: 13px;
$nav_sub_menu_height_large_laptop: 14px;
$nav_sub_menu_height_small_monitor: 18px;

// nav ul.sub-menu li a:hover

$nav_sub_menu_link_color: $color_bright_two;

// nav ul.sub-menu li a:after

$nav_sub_menu_border_color: $color_dark_six;

// nav ul.sub-menu li.current-menu-item a

$nav_sub_menu_current_menu_item_color: $color_bright_two;
