////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////


$color_bright_one:  #D82629;
$color_bright_two: #A50605;

$color_grad_one: linear-gradient(to bottom, $color_bright_one 0%,#9d0200 100%);

$color_light_one: #fff;

$color_dark_one: #E0E0E0;
$color_dark_two:#696A71;
$color_dark_three: #090D0E;
$color_dark_four: #d9d9d9;
$color_dark_five: #bcb8b9;
$color_dark_six: #F5F5F5;
$color_dark_seven: #c1bcbd;
$color_dark_eight: #BCBCBC;