#about_banner {
  position: relative;
  padding: 45px 30px 30px;
  overflow: hidden;
  @include mq(small_tablet) {
    padding: 73px 30px 79px;
  }
  @include mq(small_monitor) {
    padding: 73px 30px 53px;
  }
}

#about_content_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  span.double_line {
    max-width: 97px;
    @include margin_lr;
    &:before,
    &:after {
      background: $about_double_line;
    }
  }
}

.about_title.banner_title {
  color: $about_banner_title_color;
  font-weight: $about_banner_title_weight;
  margin-bottom: 22px;
}

#about_intro.content {
  margin-top: 20px;
  @include type(
    (
      size: $about_intro_size,
      spacing: $about_intro_spacing,
      height: $about_intro_height,
      color: $about_intro_color,
      weight: $about_intro_weight,
    )
  );
  @include mq(small_tablet) {
    margin-top: 26px;
    max-width: 570px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width: 640px;
  }
  @include mq(small_monitor) {
    max-width: 836px;
    @include quick_type(
      $about_intro_size_small_monitor,
      $about_intro_height_small_monitor,
      null
    );
  }
}

img#about_banner_image {
  object-fit: cover;
  object-position: bottom center;
  @include image();
  @include abs(0, null, null, 0);
  @include box(100%);
}

.page_container.about_container.two_col {
  padding-top: 35px;
  padding-bottom: 35px;
  @include mq(small_laptop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mq(large_laptop) {
    padding: 60px 145px;
  }
  @include mq(small_monitor) {
    max-width: 1635px;
    padding: 90px 95px 74px;
  }
}

#about_video_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  @include mq(small_laptop) {
    margin-top: 10px;
  }
  @include mq(small_monitor) {
    margin-bottom: 39px;
  }
  ul {
    margin-top: 25px;
    @include mq(small_tablet) {
      margin: 0 0 0 40px;
    }
    @include mq(large_laptop) {
      margin: 0 0 0 70px;
    }
    li {
      text-transform: uppercase;
      padding-left: 16px;
      font-weight: $about_video_list_item_weight;
      @include mq(small_tablet) {
        font-size: $about_video_list_item_size;
      }
      @include mq(small_monitor) {
        @include type(
          (
            size: $about_video_list_item_size_small_monitor,
            spacing: $about_video_list_item_spacing,
            height: $about_video_list_item_height,
          )
        );
      }
      &:before {
        background: $about_video_list_item_bullet_bg_color;
        @include mq(small_monitor) {
          top: 12px;
        }
      }
    }
  }
}

#about_video_inner {
  @include mq(small_tablet) {
    padding-bottom: 35px;
    @include flex(null, center);
  }
  @include mq(small_monitor) {
    padding-bottom: 49px;
  }
}

#about_video {
  border: 7px solid $about_video_border_bg_color;
  position: relative;
  box-shadow: 0px 3px 6px #0000007c;
  max-width: 294px;
  @include box(100%, 180px);
  @include mq(small_laptop) {
    @include box(208px, 135px);
  }
  @include mq(large_laptop) {
    @include box(199px, 121px);
  }
  @include mq(small_monitor) {
    border: 9px solid $about_video_border_bg_color_small_monitor;
    @include box(271px, 164px);
  }
  img {
    object-fit: cover;
    @include abs(0, null, null, 0);
    @include image();
    @include box(100%);
  }
  #mywistia {
    @include box(100%);
    @include abs(0, null, null, 0, 1);
  }
  .play_button {
    @include box(90px);
    &:before {
      @include box(70px);
    }
    &:after {
      @include abs(32px, null, null, 37px);
      @include tri(right, 11px, 15px, $about_play_button_tri_bg_color);
    }
  }
}

.about_col {
  flex-basis: 47%;
  @include mq(large_laptop) {
    flex-basis: 46%;
  }
}

html.webp {
  #about_bottom_wrapper {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.webp) repeat;
    }
  }
}

html.no-webp {
  #about_bottom_wrapper {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
    }
  }
}

#about_bottom_wrapper {
  position: relative;
  padding-bottom: 20px;
  @include mq(small_monitor) {
    padding-bottom: 50px;
  }
  &:after {
    opacity: 0.6;
    @include box(100%);
    @include abs(0, null, null, 0);
    @include contentdisplay();
  }
}

#about_bottom_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 45px 35px;
  @include mq(small_laptop) {
    padding: 75px 35px;
  }
  span.double_line {
    max-width: 73px;
    margin-top: 20px;
    @include margin_lr;
    &:before,
    &:after {
      background: $about_double_line_bg_color;
    }
  }
}

span#about_bottom_title {
  @include type(
    (
      size: $about_bottom_title_size,
      spacing: $about_bottom_title_spacing,
      height: $about_bottom_title_height,
      family: $primaryfont,
      color: $about_bottom_title_color,
      weight: $about_bottom_title_weight,
      transform: uppercase,
    )
  );
  @include mq(large_laptop) {
    font-size: $about_bottom_title_size_large_laptop;
  }
}
