////////////////////////////////////////////////////////////////////
// About Page
////////////////////////////////////////////////////////////////////

// #about_content_inner span.double_line:before,&:after

$about_double_line: $color_bright_one;

// .about_title.banner_title

$about_banner_title_color: $color_light_one;

$about_banner_title_weight: 400;

// #about_intro.content

$about_intro_size: 15px;
$about_intro_size_small_monitor: 19px;

$about_intro_spacing: 0.38px;

$about_intro_height: 28px;
$about_intro_height_small_monitor: 35px;

$about_intro_color: $color_light_one;

$about_intro_weight: 600;

// #about_video_wrapper ul li

$about_video_list_item_size: 15px;
$about_video_list_item_size_small_monitor: 16px;

$about_video_list_item_spacing: 2.4px;

$about_video_list_item_height: 26px;

$about_video_list_item_weight: 700;

$about_video_list_item_bullet_bg_color: $color_bright_two;

// #about_video

$about_video_border_bg_color: $color_light_one;
$about_video_border_bg_color_small_monitor: $color_light_one;

// #about_video .play_button:after

$about_play_button_tri_bg_color: $color_bright_one;

// #about_bottom_inner span.double_line:before,&:after

$about_double_line_bg_color: $color_bright_one;

// span#about_bottom_title

$about_bottom_title_size: 12px;
$about_bottom_title_size_large_laptop: 15px;

$about_bottom_title_spacing: 1.1px;

$about_bottom_title_height: 17px;

$about_bottom_title_color: $color_dark_three;

$about_bottom_title_weight: 600;
