#section_six {
  text-align: center;
  padding: 53px 20px;
  @include mq(small_tablet) {
    padding: 80px 20px;
  }
  @include mq(small_laptop) {
    padding: 63px 20px;
  }
  @include mq(large_laptop) {
    padding: 106px 20px;
  }
  @include mq(small_monitor) {
    padding: 137px 20px;
  }
}

#sec_six_inner {
  span.double_line {
    max-width: 130px;
    @include margin_lr;
    @include mq(small_tablet) {
      max-width: 223px;
    }
    &:before,
    &:after {
      background: $sec_six_double_line_bg_color;
    }
  }
}

#sec_six_title {
  display: block;
  max-width: 286px;
  margin: 0 auto 30px;
  @include type(
    (
      size: $sec_six_title_size,
      height: $sec_six_title_height,
      family: $secondaryfont,
      weight: $sec_six_title_weight,
    )
  );
  @include mq(small_tablet) {
    max-width: 447px;
    @include type(
      (
        size: $sec_six_title_size_small_tablet,
        height: $sec_six_title_height_small_tablet,
        family: $secondaryfont,
        weight: $sec_six_title_weight_small_tablet,
      )
    );
  }
  @include mq(small_laptop) {
    max-width: 100%;
    margin: 0 auto 24px;
    line-height: $sec_six_title_height_small_laptop;
  }
  @include mq(large_laptop) {
    margin: 0 auto 41px;
    font-size: $sec_six_title_size_small_laptop;
  }
  @include mq(small_monitor) {
    margin: 0 auto 46px;
    @include quick_type(
      $sec_six_title_size_small_monitor,
      $sec_six_title_height_small_monitor,
      null
    );
  }
}

#sec_six_descrip {
  margin: 25px auto 0;
  max-width: 400px;
  @include type(
    (
      size: $sec_six_descrip_size,
      spacing: $sec_six_descrip_spacing,
      height: $sec_six_descrip_height,
      family: $primaryfont,
      weight: $sec_six_descrip_weight,
    )
  );
  @include mq(small_tablet) {
    margin: 30px auto 0;
  }
  @include mq(small_laptop) {
    max-width: 687px;
    margin: 28px auto 0;
  }
  @include mq(large_laptop) {
    margin: 38px auto 0;
    max-width: 777px;
    @include quick_type(
      $sec_six_descrip_size_large_laptop,
      $sec_six_descrip_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 998px;
    margin: 42px auto 0;
    font-size: $sec_six_descrip_size_small_monitor;
  }
  p {
    margin-bottom: 10px;
  }
}
