////////////////////////////////////////////////////////////////////
// Section Six
////////////////////////////////////////////////////////////////////

// #sec_six_inner span.double_line:before, &:after

$sec_six_double_line_bg_color: $color_bright_one;

// #sec_six_title

$sec_six_title_size: 30px;
$sec_six_title_size_small_tablet: 35px;
$sec_six_title_size_small_laptop: 45px;
$sec_six_title_size_small_monitor: 60px;

$sec_six_title_height: 30px;
$sec_six_title_height_small_tablet: 35px;
$sec_six_title_height_small_laptop: 45px;
$sec_six_title_height_small_monitor: 55px;

$sec_six_title_weight: 500;
$sec_six_title_weight_small_tablet: 500;

// #sec_six_descrip

$sec_six_descrip_size: 15px;
$sec_six_descrip_size_large_laptop: 17px;
$sec_six_descrip_size_small_monitor: 19px;

$sec_six_descrip_spacing: 0.38px;

$sec_six_descrip_height: 28px;
$sec_six_descrip_height_large_laptop: 35px;

$sec_six_descrip_weight: 300;
