////////////////////////////////////////////////////////////////////
// Internal Forms
////////////////////////////////////////////////////////////////////

// .content input, textarea, select

$internal_form_bg_color: $color_light_one;

$internal_form_border_color: $color_dark_two;

$internal_form_size: 16px;

$internal_form_color: $color_dark_two;

// .gform_footer:before

$internal_form_bg_color: $color_grad_one;

// .gform_footer:after

$internal_form_bg_color_hover: $color_bright_two;

// .gform_footer input[type="submit"]

$internal_form_submit_size: 16px;

$internal_form_submit_spacing: 1px;

$internal_form_submit_color: $color_light_one;

$internal_form_submit_weight: 400;

// .gfield_description, .validation_message

$internal_form_error: 14px;

$internal_form_color: $color_bright_two;
