html.webp {
  #lp_section_two {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.webp) repeat;
    }
  }
}

html.no-webp {
  #lp_section_two {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
    }
  }
}

#lp_section_two {
  position: relative;
  padding: 40px 35px 22px;
  @include mq(small_tablet) {
    padding: 40px 35px 30px;
  }
  @include mq(tablet) {
    padding: 45px 35px 40px;
  }
  @include mq(small_laptop) {
    padding: 50px 35px 40px;
  }
  @include mq(large_laptop) {
    padding: 65px 105px 51px;
  }
  &:after {
    background-size: (500px, 500px);
    opacity: 0.53;
    @include abs(0, null, null, 0);
    @include box(100%, 100%);
    @include contentdisplay();
  }
}

#lp_sec_two_inner {
  position: relative;
  z-index: 1;
}

#lp_sec_two_slider {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  @include mq(small_tablet) {
    max-width: 650px;
    text-align: left;
  }
  @include mq(small_laptop) {
    max-width: 770px;
  }
  @include mq(large_laptop) {
    max-width: 970px;
  }
  .slick-slide {
    margin: 0 24px;
    @include mq(small_laptop) {
      margin: 0 30px;
    }
  }
  .slick-list {
    margin: 0 -24px;
    @include mq(small_laptop) {
      margin: 0 -30px;
    }
  }
  .slick-dots {
    position: static;
    margin: 20px 0 0px;
    @include mq(small_laptop) {
      margin: 15px 0 0px;
    }
    li.slick-active {
      button {
        &:before {
          color: $color_dark_eight;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_dark_eight;
        }
      }
    }
    li {
      margin: 0;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_bright_two;
          font-size: 21px;
        }
      }
    }
  }
}

.lp_sec_two_slide {
  svg {
    width: 100px;
    @include mq(large_laptop) {
      width: 120px;
    }
  }
  #lp_sec_two_descrip_wrapper {
    &:before {
      background: $color_dark_eight;
      margin: 15px auto 7px;
      @include box(95px, 1px);
      @include contentdisplay();
      @include mq(small_tablet) {
        margin: 15px 0 7px;
        @include box(100%, 1px);
      }
      @include mq(small_laptop) {
        margin: 15px 0 11px;
      }
    }
    @include type(
      (
        size: 14px,
        height: 26px,
        family: $primaryfont,
        color: $color_dark_three,
        weight: 400,
      )
    );
    @include mq(small_laptop) {
      @include quick_type(16px, 30px, null);
    }
    p {
      margin-bottom: 10px;
    }
  }
  span.double_line {
    max-width: 58px;
    margin: 17px auto 14px;
    @include mq(small_tablet) {
      margin: 17px 0 14px;
    }
    @include mq(small_laptop) {
      margin: 17px 0 22px;
    }
    &:before,
    &:after {
      background: $color_bright_one;
    }
  }
}

span#lp_sec_two_name {
  @include type(
    (
      size: 10px,
      height: 31px,
      spacing: 1px,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_laptop) {
    font-size: 11px;
  }
}
