body.single-landing_page {
  header {
    @include mq(tablet) {
      height: 65px;
      padding: 0 30px;
      width: calc(100% - 330px);
    }
    @include mq(large_laptop) {
      height: 79px;
      width: 100%;
      position: relative;
    }
    @include mq(large_laptop) {
      padding: 0 40px;
    }
    @include mq(small_monitor) {
      height: 89px;
    }
  }
  #header_inner {
    @include mq(tablet) {
      justify-content: flex-start;
      align-items: inherit;
    }
  }
  #header_left {
    @include mq(tablet) {
      display: none;
    }
  }
  #header_middle {
    @include mq(tablet) {
      justify-content: flex-start;
      margin: 0;
    }
    a#logo {
      @include mq(tablet) {
        width: 205px;
      }
      @include mq(large_laptop) {
        width: 250px;
      }
      img {
        height: auto;
      }
    }
  }
  #header_right {
    background: $color_dark_three;
    @include mq(small_tablet) {
      background: $color_light_one;
    }
    @include mq(tablet) {
      flex-grow: 1;
    }
    @include mq(large_laptop) {
      height: 79px;
    }
    @include mq(small_monitor) {
      height: 89px;
    }
  }
  .header_title_wrapper {
    @include mq(tablet) {
      text-align: right;
    }
    > span,
    a {
      color: $color_light_one;
      @include mq(small_tablet) {
        color: $color_dark_three;
      }
    }
  }
  span.header_title_sml {
    @include mq(large_laptop) {
      font-size: 12px;
    }
    @include mq(small_monitor) {
      font-size: 13px;
      margin-bottom: 0px;
    }
  }
  span.header_title_lrg {
    @include mq(small_tablet) {
      color: $color_bright_one;
      @include flex();
    }
    @include mq(large_laptop) {
      font-size: 19px;
    }
    @include mq(small_monitor) {
      font-size: 21px;
    }
    span {
      @include mq(small_tablet) {
        display: inline-block;
        margin-right: 6px;
      }
    }
    a {
      @include mq(small_tablet) {
        color: $color_bright_one;
      }
    }
  }
  nav {
    @include mq(tablet) {
      display: none !important;
    }
  }
  footer {
    @include mq(tablet) {
      background: $color_light_one;
    }
  }
}
