footer {
  background: $footer_bg_color;
  border-bottom: 2px solid $footer_border_bg_color;
  @include mq(small_tablet) {
    border-bottom: 4px solid $footer_border_bg_color;
  }
}

#footer_form_wrapper {
  padding: 54px 35px 142px;
  text-align: center;
  max-width: 490px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding: 85px 60px 163px;
    max-width: 758px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    max-width: 915px;
    padding: 96px 60px 140px;
  }
  @include mq(large_laptop) {
    max-width: 1081px;
    padding: 119px 60px 162px;
  }
  @include mq(small_monitor) {
    padding: 141px 60px 177px;
    max-width: 1430px;
  }
  span.double_line {
    width: 110px;
    @include margin_lr;
    &:before,
    &:after {
      background: $footer_double_line_bg_color;
    }
  }
  ul {
    list-style: none;
    margin-top: 33px;
    @include mq(small_tablet) {
      @include flex(space-between, null, null, wrap);
    }
    @include mq(large_laptop) {
      margin-top: 40px;
    }
    @include mq(small_monitor) {
      margin-top: 55px;
    }
    li {
      margin-bottom: 17px;
      flex-basis: 100%;
      position: relative;
      @include mq(small_tablet) {
        margin-bottom: 15px;
      }
      &#field_3_1,
      &#field_3_2,
      &#field_3_3 {
        @include mq(small_tablet) {
          flex-basis: 32%;
        }
        @include mq(small_laptop) {
          flex-basis: 32.25%;
        }
        @include mq(small_monitor) {
          flex-basis: 32.25%;
        }
      }
      &#field_3_4,
      &#field_3_7 {
        flex-basis: 49%;
        @include mq(small_laptop) {
          flex-basis: 49.25%;
        }
        @include mq(small_monitor) {
          flex-basis: 49.25%;
        }
      }
      &:after {
        @include abs(22px, 20px, null, null);
        @include contentdisplay(block, "*");
        @include type(
          (
            size: $footer_asterisk_size,
            family: $primaryfont,
            color: $footer_asterisk_bg_color,
          )
        );
        @include mq(small_tablet) {
          top: 20px;
        }
        @include mq(small_laptop) {
          top: 22px;
        }
        @include mq(small_monitor) {
          font-size: 23px;
          top: 31px;
        }
      }
      label {
        display: none;
      }
      input,
      textarea,
      select {
        width: 100%;
        border-radius: 4px;
        border: none;
        padding: 18px 40px 18px 20px;
        background: $color_light_one;
        @include type(
          (
            size: $footer_input_size,
            spacing: $footer_input_spacing,
            color: $footer_input_color,
            family: $primaryfont,
          )
        );
        @include mq(small_tablet) {
          padding: 16px 40px 16px 20px;
          @include quick_type(
            $footer_input_size_small_tablet,
            null,
            $footer_input_spacing_small_tablet
          );
        }
        @include mq(large_laptop) {
          padding: 19px 40px 19px 20px;
        }
        @include mq(small_monitor) {
          padding: 26px 40px 26px 20px;
          @include quick_type(
            $footer_input_size_small_monitor,
            null,
            $footer_input_spacing_small_monitor
          );
        }
      }
      textarea {
        height: 125px;
        @include mq(small_laptop) {
          height: 108px;
        }
        @include mq(large_laptop) {
          height: 121px;
        }
      }
      select {
        -webkit-appearance: none;
      }
    }
  }
  .gform_footer {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 27px;
    @include mq(small_tablet) {
      margin-top: 11px;
    }
    @include mq(large_laptop) {
      margin-top: 24px;
    }
    @include mq(small_monitor) {
      margin-top: 12px;
    }
    &:hover {
      input {
        color: $footer_submit_color_hover;
      }
      &:after {
        opacity: 1;
      }
    }
    &:before,
    &:after {
      border-radius: 50px;
      z-index: -1;
      @include contentdisplay();
      @include box(100%);
      @include abs(0, null, null, 0);
    }
    &:before {
      background: $footer_submit_bg_color;
    }
    &:after {
      background: $footer_submit_bg_color_hover;
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
    input {
      background: transparent;
      border: none;
      padding: 13px 25px;
      cursor: pointer;
      @include type(
        (
          size: $footer_submit_size,
          family: $secondaryfont,
          color: $footer_submit_color,
          transform: lowercase,
        )
      );
      @include mq(small_tablet) {
        font-size: $footer_submit_size_small_tablet;
      }
      @include mq(small_monitor) {
        font-size: $footer_submit_size_small_monitor;
        padding: 15px 25px;
      }
    }
  }
  .gfield_description,
  .validation_message {
    margin-top: 3px;
    @include type(
      (
        size: $footer_error_size,
        spacing: $footer_error_spacing,
        height: $footer_error_height,
        family: $primaryfont,
        color: $footer_error_color,
        weight: $footer_error_weight,
        align: left,
        transform: uppercase,
      )
    );
  }
  #validation_message_3_3 {
    display: none; // hide "this field is required on the phone input bc thers is no room. "Phone Format" is left there
  }
  span.required {
    text-align: left;
    margin-top: -85px;
    @include quick_type($footer_required_size, null, $footer_required_spacing);
    @include mq(small_tablet) {
      margin-top: -60px;
    }
    @include mq(large_laptop) {
      margin-top: -66px;
    }
    @include mq(small_monitor) {
      margin-top: -69px;
      @include quick_type($footer_required_size_small_monitor, null, null);
    }
    &:before {
      font-size: $footer_required_asterisk_size;
      @include mq(small_monitor) {
        font-size: $footer_required_asterisk_size_small_monitor;
      }
    }
  }
}

span#footer_from_title {
  display: block;
  margin-bottom: 25px;
  @include type(
    (
      size: $footer_from_title_size,
      family: $secondaryfont,
      color: $footer_from_title_color,
      weight: $footer_from_title_weight,
      align: center,
    )
  );
  @include mq(small_laptop) {
    margin-bottom: 20px;
  }
  @include mq(large_laptop) {
    @include quick_type(
      $footer_from_title_size_large_laptop,
      $footer_from_title_height,
      null
    );
  }
  @include mq(small_monitor) {
    margin-bottom: 30px;
    @include quick_type(
      $footer_from_title_size_small_monitor,
      $footer_from_title_height_large_laptop,
      null
    );
  }
}

#copyright_wrapper {
  padding-bottom: 30px;
  @include mq(small_tablet) {
    margin-top: 55px;
  }
  @include mq(large_laptop) {
    margin-top: 73px;
  }
  @include mq(small_monitor) {
    margin-top: 133px;
  }
}

#copyright_inner {
  text-align: center;
  @include mq(small_laptop) {
    max-width: 926px;
    @include margin_lr;
    @include flex(space-between);
  }
  @include mq(small_monitor) {
    max-width: 1340px;
  }
  ul {
    max-width: 286px;
    @include margin_lr;
    @include mq(small_tablet) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    li {
      display: inline-block;
      @include type(
        (
          size: $copyright_size,
          spacing: $copyright_spacing,
          height: $copyright_height,
          family: $primaryfont,
          color: $copyright_color,
          transform: uppercase,
        )
      );
      @include mq(small_monitor) {
        font-size: $copyright_size_small_monitor;
      }
      &:after {
        margin: 0 7px 0 11px;
        @include contentdisplay(inline-block, "|");
        display: none;
        @include mq(small_tablet) {
          display: inline-block;
        }
        @include mq(large_laptop) {
          margin: 0 10px 0 14px;
        }
        @include mq(small_monitor) {
          margin: 0 14px 0 18px;
        }
      }
      &:nth-of-type(2) {
        &:after {
          display: inline-block;
        }
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      a {
        text-decoration: none;
        color: $copyright_color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  a#ilawyer {
    margin-top: 20px;
    display: inline-block;
    @include mq(small_tablet) {
      margin-top: 12px;
    }
    @include mq(small_laptop) {
      margin-top: 3px;
    }
    img,
    svg {
      width: 175px;
      @include mq(small_laptop) {
        width: 150px;
      }
      @include mq(large_laptop) {
        width: 210px;
      }
    }
  }
}
