#video_wrapper {
  margin: 0px auto 0;
  max-width: 470px;
  @include mq(small_tablet) {
    max-width: 100%;
    margin: 0px auto -40px;
    @include flex(space-between, null, null, wrap);
  }
  @include mq(large_laptop) {
    margin: 0px auto -40px;
  }
  @include mq(small_monitor) {
    max-width: 1322px;
    margin: 0px auto -56px;
  }
  &:after {
    @include mq(large_laptop) {
      content: "";
      display: block;
      flex-basis: 31%;
    }
  }
}

.single_video {
  margin-bottom: 40px;
  cursor: pointer;
  &:hover {
    .video_thumb {
      .video_overlay {
        background: rgba(0, 0, 0, 0.5);
      }
    }
    .video_title_wrapper {
      span.video_title {
        color: $video_title_color;
      }
    }
  }
  @include mq(small_tablet) {
    flex-basis: 48%;
  }
  @include mq(large_laptop) {
    flex-basis: 31.5%;
    margin-bottom: 40px;
  }
  @include mq(small_monitor) {
    margin-bottom: 56px;
  }
  a {
    text-decoration: none;
  }
  &:last-of-type {
    margin-bottom: 0;
    @include mq(small_tablet) {
      margin-bottom: 40px;
    }
    @include mq(small_monitor) {
      margin-bottom: 65px;
    }
  }
  .video_thumb {
    position: relative;
    height: 250px;
    @include mq(tablet) {
      height: 300px;
    }
    @include mq(large_laptop) {
      height: 233px;
    }
    @include mq(small_monitor) {
      height: 273px;
    }
    img.youtube {
      object-fit: cover;
      @include box(100%);
      @include abs(0, null, null, 0);
    }
    .mywisita {
      @include abs(0, null, null, 0);
      @include box(100%);
    }
    .video_overlay {
      pointer-events: none;
      background: rgba(0, 0, 0, 0.3);
      transition: background 300ms ease-in-out;
      @include abs(0, null, null, 0);
      @include box(100%);
      @include flex(center, center);
      span.play_button {
        @include box(65px);
        @include mq(small_laptop) {
          @include box(80px);
        }
        @include mq(small_monitor) {
          @include box(85px);
        }
        &:before {
          @include box(52px);
          @include mq(small_laptop) {
            @include box(64px);
          }
          @include mq(small_monitor) {
            @include box(70px);
          }
        }
        &:after {
          top: 19px;
          left: 25px;
          @include tri(right, 10px, 13px, $video_page_play_button_triangle);
          @include mq(small_laptop) {
            top: 26px;
            left: 32px;
            @include tri(right, 11px, 15px, $video_page_play_button_triangle);
          }
          @include mq(small_monitor) {
            top: 29px;
            left: 36px;
          }
        }
      }
    }
  }
}

.video_title_wrapper {
  padding: 20px 20px;
  background: $video_title_wrapper_bg_color;
  text-align: center;
  @include mq(small_tablet) {
    padding: 30px 20px;
  }
  @include mq(small_monitor) {
    padding: 30px 20px;
  }
  span.video_title {
    display: block;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: $video_title_size,
        spacing: $video_title_spacing,
        height: $video_title_height,
        family: $primaryfont,
        color: $video_title_color,
        weight: $video_title_weight,
      )
    );
    @include mq(small_tablet) {
      max-width: 335px;
      @include margin_lr;
    }
    @include mq(large_laptop) {
      @include quick_type(
        $video_title_size_large_laptop,
        $video_title_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      max-width: 305px;
    }
  }
}
