////////////////////////////////////////////////////////////////////
// Video Center Page
////////////////////////////////////////////////////////////////////

// span.video_title

$video_title_color: $color_bright_two;

// span.play_button

$video_page_play_button_triangle: $color_bright_one;

// .video_title_wrapper

$video_title_wrapper_bg_color: $color_dark_six;

// span.video_title

$video_title_size: 14px;
$video_title_size_large_laptop: 16px;

$video_title_spacing: 0.4px;

$video_title_height: 17px;
$video_title_height_large_laptop: 20px;

$video_title_color: $color_dark_three;

$video_title_weight: 600;
