body.single-landing_page {
  footer {
    @include mq(tablet) {
      padding: 70px 0 10px;
    }
    @include mq(small_laptop) {
      padding: 95px 0 10px;
    }
  }
  #footer_form_wrapper {
    @include mq(tablet) {
      display: none;
    }
  }
  #locations {
    max-width: 1210px;
    @include mq(large_laptop) {
      max-width: 100%;
      padding-left: 90px;
      padding-right: 90px;
    }
    @include mq(small_monitor) {
      max-width: 960px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .loc_col:nth-of-type(1) {
    @include mq(small_laptop) {
      margin-left: 52px;
    }
  }
  span.loc_title {
    @include mq(tablet) {
      color: $color_bright_two;
    }
  }
  .loc_col {
    span.loc_descrip {
      @include mq(tablet) {
        color: $color_dark_three;
      }
    }
    span.double_line {
      &:before,
      &:after {
        @include mq(tablet) {
          background: #cccccc;
        }
      }
    }
  }
  a.loc_phone {
    @include mq(tablet) {
      color: $color_dark_three;
    }
  }
  a.get_directions {
    @include mq(tablet) {
      border: 2px solid $color_bright_two;
      color: $color_bright_two;
    }
    &:hover {
      @include mq(tablet) {
        background: $color_bright_two;
        color: $color_light_one;
      }
    }
  }
  #copyright_wrapper {
    @include mq(large_laptop) {
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  #copyright_inner {
    @include mq(small_laptop) {
      display: block;
    }
    @include mq(large_laptop) {
      @include flex(space-between, center);
    }
    ul {
      li {
        @include mq(tablet) {
          color: $color_dark_three;
        }
        a {
          @include mq(tablet) {
            color: $color_dark_three;
          }
        }
      }
    }
    a#ilawyer {
      @include mq(tablet) {
        margin-top: 25px;
      }
      @include mq(large_laptop) {
        margin-top: 0;
      }
      svg {
        path {
          @include mq(tablet) {
            fill: $color_dark_three;
          }
        }
      }
    }
  }
  .social_media {
    a {
      &:hover {
        svg {
          path {
            @include mq(tablet) {
              fill: $color_bright_two;
            }
          }
        }
      }
      svg {
        path {
          @include mq(tablet) {
            fill: #b4b4b4;
          }
        }
      }
    }
  }
}
