.blog_post {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $blog_post_border_bg_color;
  @include mq(large_laptop) {
    padding-bottom: 55px;
    margin-bottom: 62px;
  }
  span.double_line {
    max-width: 130px;
    @include mq(large_laptop) {
      max-width: 224px;
    }
  }
}

#blog_feed,
#single_post {
  padding: 31px 0 0 0;
  @include mq(small_tablet) {
    padding: 48px 0 0 0;
  }
  @include mq(large_laptop) {
    padding: 95px 0 0 0;
  }
}

.blog_header {
  padding: 0px 0 20px 0;
  @include type(
    (
      size: $blog_header_size,
      height: $blog_header_height,
      family: $secondaryfont,
      weight: $blog_header_weight,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(
      $blog_header_size_large_laptop,
      $blog_header_height_large_laptop,
      null
    );
  }
  a {
    color: $blog_header_color;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $blog_header_color_hover;
    }
  }
}

.blog_meta {
  margin-top: 25px;
  margin-bottom: 10px;
  @include mq(large_laptop) {
    margin-bottom: 25px;
  }
  span,
  li {
    display: inline;
    @include type(
      (
        size: $blog_meta_size,
        spacing: $blog_meta_spacing,
        height: $blog_meta_height,
        family: $primaryfont,
        weight: $blog_meta_weight,
      )
    );
    &:after {
      background: $blog_meta_bullet_bg_color;
      border-radius: 50%;
      vertical-align: top;
      margin: 6px 9px 0 9px;
      @include box(6px);
      @include contentdisplay(inline-block);
    }
    @include mq(large_laptop) {
      font-size: $blog_meta_size_large_laptop;
    }
  }
  li {
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: $blog_meta_link_color;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $blog_meta_link_color_hover;
    }
  }
  ul {
    list-style: none;
    display: inline;
  }
  span.date {
  }
}

.blog_content {
  margin-bottom: 30px;
}

a.read_more {
  font-weight: $read_more_weight;
  padding: 15px 27px;
  @include mq(large_laptop) {
    font-size: $read_more_size_large_laptop;
    letter-spacing: $read_more_spacing_large_laptop;
    border: 2px solid $read_more_border_bg_color;
  }
}

.paged_wrapper {
  margin-top: -15px;
  @include mq(large_laptop) {
    margin-top: -33px;
  }
  ul {
    list-style: none;
    @include flex();
    flex-wrap: wrap;
    li {
      margin-right: 15px;
      @include type(
        (
          size: $paged_wrapper_size,
          spacing: $paged_wrapper_spacing,
          height: $paged_wrapper_height,
          family: $primaryfont,
          weight: $paged_wrapper_weight,
        )
      );
      @include mq(large_laptop) {
        margin-right: 20px;
        @include quick_type(
          $paged_wrapper_size_large_laptop,
          $paged_wrapper_height_large_laptop,
          null
        );
      }
      &.active {
        a {
          color: $paged_wrapper_color_hover;
        }
      }
      a {
        text-decoration: none;
        color: $paged_wrapper_color;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $paged_wrapper_color_hover;
        }
      }
    }
  }
}

.sidebar_blog {
  .widget {
    padding-top: 20px;
    padding-bottom: 1px;
    @include mq(small_laptop) {
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    @include mq(small_monitor) {
      padding-top: 52px;
      padding-bottom: 50px;
      margin-bottom: 40px;
    }
    &:first-of-type {
      padding-top: 40px;
      @include mq(small_laptop) {
        padding-top: 30px;
        padding-bottom: 10px;
      }
      @include mq(small_monitor) {
        padding-top: 52px;
        padding-bottom: 50px;
      }
    }
    &:last-of-type {
      padding-bottom: 25px;
      @include mq(small_laptop) {
        padding-bottom: 10px;
      }
      @include mq(small_monitor) {
        padding-bottom: 50px;
      }
    }
    h3 {
      @include mq(small_monitor) {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
    span.double_line {
      max-width: 85px;
      @include mq(small_monitor) {
        margin-left: 80px;
        margin-right: 80px;
      }
    }
    ul {
      margin-top: 31px;
      li {
        margin-bottom: 22px;
        padding: 0 40px;
        @include mq(small_monitor) {
          padding: 0 80px;
        }
        &.blog-active {
          a {
            color: $sidebar_blog_active_color;
          }
        }
      }
    }
  }
}

#single_post {
  span.double_line {
    max-width: 130px;
    @include mq(large_laptop) {
      max-width: 224px;
    }
  }
}
