////////////////////////////////////////////////////////////////////
// Blog
////////////////////////////////////////////////////////////////////

// .blog_post

$blog_post_border_bg_color: $color_dark_one;

// .blog_header

$blog_header_size: 25px;
$blog_header_size_large_laptop: 30px;

$blog_header_height: 25px;
$blog_header_height_large_laptop: 30px;

$blog_header_weight: 500;

// .blog_header a

$blog_header_color: $color_dark_three;

// .blog_header a:hover

$blog_header_color_hover: $color_bright_two;

// .blog_meta span,li

$blog_meta_size: 14px;
$blog_meta_size_large_laptop: 17px;

$blog_meta_spacing: 0.42px;

$blog_meta_height: 16px;

$blog_meta_weight: 600;

// .blog_meta span,li:after

$blog_meta_bullet_bg_color: $color_bright_two;

// .blog_meta span,li a

$blog_meta_link_color: $color_dark_three;

// .blog_meta span,li a:hover

$blog_meta_link_color_hover: $color_bright_two;

// a.read_more

$read_more_weight: 600;

$read_more_size_large_laptop: 12px;

$read_more_spacing_large_laptop: 1.2px;

$read_more_border_bg_color: $color_bright_two;

// .paged_wrapper ul li

$paged_wrapper_size: 15px;
$paged_wrapper_size_large_laptop: 17px;

$paged_wrapper_spacing: 0.42px;

$paged_wrapper_height: 20px;
$paged_wrapper_height_large_laptop: 20px;

$paged_wrapper_weight: 600;

// .paged_wrapper ul li.active a

$paged_wrapper_color: $color_dark_three;

// .paged_wrapper ul li.active a:hover

$paged_wrapper_color_hover: $color_bright_two;

// .sidebar_blog .widget ul li.blog-active

$sidebar_blog_active_color: $color_bright_two;
