#logos_slider_wrapper {
  margin: 48px auto 0;
  max-width: 335px;
  @include flex(space-between, center);
  @include mq(small_tablet) {
    max-width: 675px;
  }
  @include mq(small_laptop) {
    max-width: 800px;
  }
  @include mq(large_laptop) {
    max-width: 1000px;
  }
  @include mq(small_monitor) {
    margin: 71px auto 0;
    max-width: 1340px;
  }
}

#logos_slider {
  width: calc(100% - 24px);
  padding: 0 25px;
  @include mq(small_tablet) {
    @include margin_lr;
  }
}

.logos_slide {
  height: 44px;
  &.two {
    .logos_slide_inner {
      img {
        height: 28px;
      }
    }
  }
  &.three {
    .logos_slide_inner {
      img {
        height: 34px;
      }
    }
  }
  &.five {
    .logos_slide_inner {
      img {
        height: 32px;
      }
    }
  }
  .logos_slide_inner {
    height: 100%;
    @include flex(center, center);
    img {
      @include image();
      height: 44px;
      margin: 0;
      @include mq(small_tablet) {
        height: 30px;
      }
      @include mq(small_laptop) {
        height: 38px;
      }
    }
  }
}

#logos_counter {
  @include flex(center, center);
}

.logos_arrow {
  cursor: pointer;
  @include box(12px, 20px);
  svg {
    polygon {
      transition: all 200ms ease-in-out;
    }
  }
  &:hover {
    svg {
      polygon {
        fill: $logo_arrow_bg_color_hover;
      }
    }
  }
}

#logos_right_arrow {
  transform: rotate(-180deg);
}
