body {
  color: $color_dark_three;
}

.page_header {
  padding: 31px 0 20px 0;
  @include type(
    (
      size: $page_header_size,
      height: $page_header_height,
      family: $secondaryfont,
      weight: $page_header_weight,
    )
  );
  @include mq(small_tablet) {
    padding: 49px 0 20px 0;
  }
  @include mq(small_laptop) {
    padding: 49px 0 30px 0;
  }
  @include mq(large_laptop) {
    padding: 64px 0 22px 0;
    @include quick_type(
      $page_header_size_large_laptop,
      $page_header_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    padding: 98px 0 22px 0;
    @include quick_type(
      $page_header_size_small_monitor,
      $page_header_height_small_monitor,
      null
    );
  }
}

#internal_header {
  padding: 40px 0 28px 0;
  text-align: center;
  @include type(
    (
      size: $internal_header_size,
      height: $internal_header_height,
      family: $secondaryfont,
      weight: $internal_header_weight,
    )
  );
  @include mq(small_tablet) {
    padding: 57px 0 40px 0;
  }
  @include mq(large_laptop) {
    padding: 64px 0 60px 0;
    @include quick_type(
      $internal_header_size_large_laptop,
      $internal_header_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    padding: 75px 0 54px 0;
    @include quick_type(
      $internal_header_size_small_monitor,
      $internal_header_height_small_monitor,
      null
    );
  }
}

.page_content_inner {
  padding: 28px 0 0 0;
  @include mq(small_monitor) {
    padding: 38px 0 0 0;
  }
}

.double_line {
  display: block;
  &:before,
  &:after {
    width: 100%;
    height: 1px;
    background: $double_line_bg_color;
    @include contentdisplay();
  }
  &:after {
    margin-top: 3px;
  }
}

.content {
  @include type(
    (
      size: $content_size,
      spacing: $content_spacing,
      height: $content_height,
      family: $primaryfont,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(
      $content_size_large_laptop,
      $content_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    @include quick_type(
      $content_size_small_monitor,
      $content_height_small_monitor,
      null
    );
  }
  img {
    @include image();
  }
  h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    @include type(
      (
        size: $content_h2_size,
        height: $content_h2_height,
        family: $secondaryfont,
        color: $content_h2_color,
        weight: $content_h2_weight,
      )
    );
    @include mq(large_laptop) {
      @include quick_type(
        $content_h2_size_large_laptop,
        $content_h2_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      @include quick_type(
        $content_h2_size_small_monitor,
        $content_h2_height_small_monitor,
        null
      );
    }
  }
  h3 {
    margin-bottom: 10px;
    @include type(
      (
        size: $content_h3_size,
        spacing: $content_h3_spacing,
        height: $content_h3_height,
        family: $primaryfont,
        weight: $content_h3_weight,
      )
    );
    @include mq(large_laptop) {
      margin-bottom: 3px;
      @include quick_type(
        $content_h3_size_large_laptop,
        $content_h3_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      margin-bottom: 9px;
      @include quick_type(
        $content_h3_size_small_monitor,
        $content_h3_height_small_monitor,
        null
      );
    }
  }
  h4 {
    padding-bottom: 6px;
    @include type(
      (
        size: $content_h4_size,
        spacing: $content_h4_spacing,
        height: $content_h4_height,
        weight: $content_h4_weight,
        color: $color_bright_two,
      )
    );
  }
  a {
    color: $content_link_color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul,
  ol {
    margin-bottom: 23px;
    @include mq(large_laptop) {
      margin-bottom: 37px;
    }
  }
  ul {
    list-style: none;
    li {
      position: relative;
      font-weight: $content_li_weight;
      padding-left: 25px;
      margin-bottom: 6px;
      @include mq(large_laptop) {
        line-height: 20px;
        margin-bottom: 10px;
      }
      &:before {
        border-radius: 50%;
        background: $content_ul_bullet_bg_color;
        @include abs(9px, null, null, 0);
        @include box(6px);
        @include contentdisplay();
        @include mq(large_laptop) {
          @include abs(7px, null, null, 0);
        }
        @include mq(small_monitor) {
          @include abs(7px, null, null, 0);
        }
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      padding-left: 30px;
      font-weight: $content_li_weight;
      margin-bottom: 6px;
      @include mq(large_laptop) {
        line-height: $content_ol_height_large_laptop;
        margin-bottom: 10px;
      }
    }
    > li:before {
      content: counter(item) ".";
      font-weight: $content_li_weight;
      color: $content_ol_number_color;
      @include abs(0, null, null, 0);
    }
  }
  span.double_line.blockquote {
    max-width: 76px;
    margin-bottom: 15px;
    margin-top: 35px;
    @include mq(small_monitor) {
      max-width: 284px;
      margin-top: 60px;
      margin-bottom: 27px;
    }
    &:before,
    &:after {
      background: $blockquote_double_line_bg_color;
    }
  }
  blockquote {
    margin-bottom: 35px;
    @include type(
      (
        size: $blockquote_size,
        height: $blockquote_height,
        weight: $blockquote_weight,
        family: $secondaryfont,
      )
    );
    @include mq(large_laptop) {
      @include quick_type(
        $blockquote_size_large_laptop,
        $blockquote_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      margin-bottom: 50px;
      @include quick_type(
        $blockquote_size_small_monitor,
        $blockquote_height_small_monitor,
        null
      );
    }
  }
  p {
    margin-bottom: 17px;
    @include mq(large_laptop) {
      margin-bottom: 20px;
    }
    @include mq(small_monitor) {
      margin-bottom: 25px;
    }
  }
}
