#section_four {
  overflow: hidden;
  @include mq(small_tablet) {
    padding: 70px 60px;
    position: relative;
  }
  @include mq(small_laptop) {
    padding: 90px 60px;
  }
  @include mq(large_laptop) {
    padding: 139px 30px;
  }
  @include mq(small_monitor) {
    padding: 163px 30px;
  }
}

#sec_four_inner {
  background: $sec_four_bg_color;
  text-align: center;
  padding: 65px 30px 0;
  @include mq(small_tablet) {
    position: relative;
    z-index: 1;
    padding: 80px 30px 40px;
  }
  @include mq(small_laptop) {
    max-width: 920px;
    padding: 75px 30px 50px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width: 1050px;
    padding: 95px 30px;
  }
  svg {
    width: 128px;
    height:22px;
  }
}

#sec_four_slider_wrapper {
  @include mq(small_tablet) {
    @include flex(space-between, center);
  }
  @include mq(small_laptop) {
    max-width: 622px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width: 662px;
  }
  @include mq(small_monitor) {
    max-width: 742px;
  }
}

#sec_four_slider {
  max-width: 450px;
  @include margin_lr;
  @include mq(small_tablet) {
    order: 2;
    max-width: 730px;
    width: calc(100% - 104px);
  }
  @include mq(small_laptop) {
    max-width: 100%;
    width:100%;
    //width: auto;
  }
}

.sec_four_slide {
  .intro_wrapper {
    @include type(
      (
        size: $info_wrapper_size,
        height: $info_wrapper_height,
        family: $secondaryfont,
        color: $info_wrapper_color,
        weight: $info_wrapper_weight,
      )
    );
    margin-top: 15px;
    @include mq(small_tablet) {
      margin: 21px auto 0;
      max-width: 463px;
      font-size: $info_wrapper_size_small_tablet;
    }
    @include mq(small_laptop) {
      max-width: 585px;
    }
    @include mq(large_laptop) {
      @include quick_type(
        $info_wrapper_size_large_laptop,
        $info_wrapper_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      margin-top: 31px;
      max-width: 765px;
      @include quick_type(
        $info_wrapper_size_small_monitor,
        $info_wrapper_height_small_monitor,
        null
      );
    }
    p {
      margin-bottom: 13px;
    }
  }
  .descrip_wrapper {
    margin-bottom: 30px;
    @include type(
      (
        size: $descrip_wrapper_size,
        height: $descrip_wrapper_height,
        family: $primaryfont,
        color: $descrip_wrapper_color,
      )
    );
    @include mq(small_tablet) {
      margin: 0 auto 37px;
      max-width: 470px;
      @include quick_type(
        $descrip_wrapper_size_small_tablet,
        $descrip_wrapper_height_small_tablet,
        null
      );
    }
    @include mq(small_laptop) {
      max-width: 622px;
    }
    @include mq(large_laptop) {
      max-width: 660px;
      margin-bottom: 28px;
      font-size: $descrip_wrapper_size_large_laptop;
    }
    @include mq(small_monitor) {
      padding-top: 17px;
      margin-bottom: 30px;
      max-width: 749px;
      @include quick_type(
        $descrip_wrapper_size_small_monitor,
        $descrip_wrapper_height_small_monitor,
        null
      );
    }
    p {
      margin-bottom: 15px;
    }
  }
  span.double_line {
    max-width: 110px;
    @include margin_lr;
  }
  span.name {
    display: block;
    margin-top: 32px;
    margin-bottom: 37px;
    @include type(
      (
        size: $sec_four_name_size,
        spacing: $sec_four_name_spacing,
        family: $primaryfont,
        color: $sec_four_name_color,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      margin-top: 42px;
    }
    @include mq(small_laptop) {
      margin-top: 35px;
    }
    @include mq(large_laptop) {
      margin-top: 29px;
      margin-bottom: 0px;
      @include quick_type(
        $sec_four_name_size_large_laptop,
        $sec_four_name_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      margin-top: 43px;
      @include quick_type(
        $sec_four_name_size_small_monitor,
        $sec_four_name_height_small_monitor,
        null
      );
    }
  }
}

.sec_four_arrow {
  background: $sec_four_arrow_bg_color;
  margin: 0 5px 55px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  @include box(64px, 58px);
  @include mq(small_tablet) {
    @include box(52px);
  }
  &:hover {
    background: $sec_four_arrow_bg_color_hover;
    svg {
      path {
        fill: $sec_four_arrow_svg_bg_color_hover;
      }
    }
  }
  svg {
    height: 20px;
    @include mq(small_tablet) {
      height: 26px;
    }
  }
}

#sec_four_left_arrow {
  transform: rotate(-180deg);
  order: 1;
  margin-left: -62px;
  @include mq(small_tablet) {
    margin-left: -57px;
  }
  @include mq(small_laptop) {
    margin-left: -170px;
  }
  @include mq(large_laptop) {
    margin-left: -235px;
  }
  @include mq(small_monitor) {
    margin-left: -180px;
  }
}

#sec_four_right_arrow {
  order: 3;
  margin-right: -62px;
  @include mq(small_tablet) {
    margin-right: -57px;
  }
  @include mq(small_laptop) {
    margin-right: -170px;
  }
  @include mq(large_laptop) {
    margin-right: -235px;
  }
  @include mq(small_monitor) {
    margin-right: -180px;
  }
}

img#sec_four_img {
  display: none;
  @include mq(small_tablet) {
    display: block;
    object-fit: cover;
    @include box(100%);
    @include abs(0, null, null, 0);
  }
}
