/////////////////////////////////////////////////////////////////////
// Section Four
////////////////////////////////////////////////////////////////////

// #sec_four_inner

$sec_four_bg_color: $color_dark_three;

// .sec_four_slide .intro_wrapper

$info_wrapper_size: 26px;
$info_wrapper_size_small_tablet: 28px;
$info_wrapper_size_large_laptop: 36px;
$info_wrapper_size_small_monitor: 45px;

$info_wrapper_height: 30px;
$info_wrapper_height_large_laptop: 36px;
$info_wrapper_height_small_monitor: 45px;

$info_wrapper_color: $color_light_one;

$info_wrapper_weight: 500;

// .descrip_wrapper

$descrip_wrapper_size: 15px;
$descrip_wrapper_size_small_tablet: 15px;
$descrip_wrapper_size_large_laptop: 17px;
$descrip_wrapper_size_small_monitor: 18px;

$descrip_wrapper_height: 25px;
$descrip_wrapper_height_small_tablet: 28px;
$descrip_wrapper_height_small_monitor: 35px;

$descrip_wrapper_color: $color_light_one;

//  span.name

$sec_four_name_size: 12px;
$sec_four_name_size_large_laptop: 14px;
$sec_four_name_size_small_monitor: 15px;

$sec_four_name_height_large_laptop: 22px;
$sec_four_name_height_small_monitor: 31px;

$sec_four_name_spacing: 1.2px;

$sec_four_name_color: $color_light_one;

// .sec_four_arrow

$sec_four_arrow_bg_color: $color_light_one;

// .sec_four_arrow:hover

$sec_four_arrow_bg_color_hover: $color_bright_one;

$sec_four_arrow_svg_bg_color_hover: $color_light_one;
