////////////////////////////////////////////////////////////////////
// Not Found
////////////////////////////////////////////////////////////////////

// #not_found_subtitle

$not_found_subtitle_size: 14px;
$not_found_subtitle_size_small_monitor: 19px;

$not_found_subtitle_spacing: 1.9px;

$not_found_subtitle_height: 16px;
$not_found_subtitle_height_small_monitor: 35px;

$not_found_subtitle_color: $color_bright_two;

$not_found_subtitle_weight: 600;

// span.go_back

$go_back_color: $color_bright_two;
