#testimonials_wrapper {
  max-width: 430px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding-top: 50px;
    max-width: 600px;
  }
  @include mq(small_laptop) {
    max-width: 800px;
  }
  @include mq(large_laptop) {
    max-width: 1000px;
    padding-top: 80px;
  }
  @include mq(small_monitor) {
    max-width: 1205px;
    padding-top: 100px;
  }
  .single_test {
    text-align: center;
    border-bottom: 1px solid $single_test_bg_color;
    padding-bottom: 30px;
    margin-bottom: 30px;
    @include mq(large_laptop) {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    @include mq(small_monitor) {
      padding-bottom: 75px;
      margin-bottom: 75px;
    }
    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
    svg {
      width: 123px;
      height:22px;
      path {
        fill: $single_test_star_bg_color;
      }
    }
    span {
      display: block;
      &.single_test_descrip {
        margin-top: 10px;
        @include type(
          (
            size: $single_test_descrip_size,
            height: $single_test_descrip_height,
            family: $secondaryfont,
            weight: $single_test_descrip_weight,
          )
        );
        @include mq(small_laptop) {
          max-width: 540px;
          @include margin_lr;
        }
        @include mq(large_laptop) {
          max-width: 740px;
          @include quick_type(
            $single_test_descrip_size_large_laptop,
            $single_test_descrip_height_large_laptop,
            null
          );
        }
        @include mq(small_monitor) {
          margin-top: 16px;
          max-width: 849px;
          @include quick_type(
            $single_test_descrip_size_small_monitor,
            $single_test_descrip_height_small_monitor,
            null
          );
        }
      }
      &.double_line {
        max-width: 75px;
      }
      &.single_test_name {
        margin-top: 15px;
        @include type(
          (
            size: $single_test_name_size,
            spacing: $single_test_name_spacing,
            height: $single_test_name_height,
            family: $primaryfont,
            weight: $single_test_name_weight,
            transform: uppercase,
          )
        );
        @include mq(large_laptop) {
          margin-top: 30px;
          @include quick_type(
            $single_test_name_size_large_laptop,
            $single_test_name_height_large_laptop,
            null
          );
        }
      }
    }
    .single_test_content {
      margin-top: 20px;
      padding-bottom: 30px;
      @include mq(small_monitor) {
        margin: 40px auto 0;
        padding-bottom: 50px;
        max-width: 975px;
      }
    }
  }
}
