html.webp {
  #section_two {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.webp) repeat;
    }
  }
}

html.no-webp {
  #section_two {
    &:after {
      background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
    }
  }
}

#section_two {
  position: relative;
  height: 371px;
  @include mq(small_tablet) {
    height: 408px;
  }
  @include mq(small_laptop) {
    height: auto;
  }
  &:after {
    background-size: (500px, 500px);
    opacity: 0.53;
    @include abs(0, null, null, 0);
    @include box(100%, 100%);
    @include contentdisplay();
  }
}

#sec_two_inner {
  padding: 20px 35px;
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    padding: 46px 35px 20px 35px;
  }
  @include mq(small_laptop) {
    padding: 20px 35px;
  }
  @include mq(large_laptop) {
    padding: 48px 35px;
  }
  @include mq(small_monitor) {
    padding: 40px 35px;
  }
}

#sec_two_slider {
  max-width: 340px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 570px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    max-width: 1200px;
    @include margin_lr;
  }
  @include mq(small_monitor) {
    max-width: 1850px;
  }
  .slick-slide {
    margin: 0 10px;
    padding: 10px 0;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-dots {
    position: static;
    margin-top: 7px;
    @include mq(small_tablet) {
      margin-top: 18px;
    }
    li.slick-active {
      button {
        &:before {
          color: $sec_two_bullet_bg_color_hover;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $sec_two_bullet_bg_color_hover;
        }
      }
    }
    li {
      margin: 0;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $sec_two_bullet_bg_color;
          font-size: $sec_two_bullet_size;
        }
      }
    }
  }
}

.sec_two_slide {
  background: $sec_two_slide_bg_color;
  text-align: center;
  padding: 36px 0 0px 0;
  box-shadow: 0px 3px 10px #0000001a;
  transition: all 300ms ease-in-out;
  @include mq(small_tablet) {
    padding: 36px 0 0px 0;
  }
  @include mq(small_laptop) {
    flex-basis: 233px;
    flex-shrink: 0;
    padding: 32px 0 0px 0;
    background: transparent;
    box-shadow: none;
    &:hover {
      background: $sec_two_slide_bg_color;
      box-shadow: 0px 3px 10px #0000001a;
    }
  }
  @include mq(large_laptop) {
    flex-basis: 271px;
  }
  @include mq(small_monitor) {
    flex-basis: 410px;
    padding: 75px 0 0px 0;
  }
  img {
    filter: drop-shadow(0px 7px 1px rgba(0, 0, 0, 0.1));
    @include margin_lr;
    @include image();
    height: 60px;
    @include mq(small_tablet) {
    }
    @include mq(small_laptop) {
      height: 45px;
    }
    @include mq(large_laptop) {
      height: 53px;
    }
    @include mq(small_monitor) {
      height: 62px;
    }
  }
  span {
    display: block;
    &.amount {
      margin-top: 5px;
      margin-bottom: 17px;
      @include type(
        (
          size: $sec_two_span_size,
          family: $secondaryfont,
          color: $sec_two_span_color,
          weight: $sec_two_span_weight,
          transform: uppercase,
        )
      );
      @include mq(small_laptop) {
        font-size: $sec_two_span_size_small_laptop;
        margin-top: 17px;
      }
      @include mq(large_laptop) {
        font-size: $sec_two_span_size_large_laptop;
        margin-top: 28px;
      }
      @include mq(small_monitor) {
        font-size: $sec_two_span_size_small_monitor;
        margin-bottom: 24px;
      }
    }
    &.double_line {
      max-width: 58px;
      @include margin_lr;
      &:after {
        margin-top: 2px;
      }
    }
    &.type {
      margin: 20px auto 0;
      padding-bottom: 55px;
      max-width: 147px;
      @include type(
        (
          size: $sec_two_span_type_size,
          family: $primaryfont,
          height: $sec_two_span_type_height,
          color: $sec_two_span_type_color,
          transform: lowercase,
        )
      );
      @include mq(small_laptop) {
        margin: 14px auto 0;
        max-width: 138px;
        padding-bottom: 35px;
        @include quick_type(
          $sec_two_span_type_size_small_laptop,
          $sec_two_span_type_height_small_laptop,
          null
        );
      }
      @include mq(large_laptop) {
        margin: 17px auto 0;
        max-width: 179px;
        @include quick_type(
          $sec_two_span_type_size_large_laptop,
          $sec_two_span_type_height_large_laptop,
          null
        );
      }
      @include mq(small_monitor) {
        max-width: 201px;
        margin: 35px auto 0;
        padding-bottom: 95px;
        @include quick_type(
          $sec_two_span_type_size_small_monitor,
          $sec_two_span_type_height_small_monitor,
          null
        );
      }
    }
  }
}
