////////////////////////////////////////////////////////////////////
// Section Two
////////////////////////////////////////////////////////////////////

// #sec_two_slider .slick-dots li button

$sec_two_bullet_bg_color: $color_dark_three;

$sec_two_bullet_size: 25px;

$sec_two_bullet_bg_color_hover: $color_bright_one;

// #sec_two_slide

$sec_two_slide_bg_color: $color_light_one;

// .sec_two_slide span

$sec_two_span_size: 48px;
$sec_two_span_size_small_laptop: 48px;
$sec_two_span_size_large_laptop: 63px;
$sec_two_span_size_small_monitor: 90px;

$sec_two_span_color: $color_dark_three;

$sec_two_span_weight: 700;

// .sec_two_slide span.type

$sec_two_span_type_size: 14px;
$sec_two_span_type_size_small_laptop: 13px;
$sec_two_span_type_size_large_laptop: 17px;
$sec_two_span_type_size_small_monitor: 19px;

$sec_two_span_type_height: 18px;
$sec_two_span_type_height_small_laptop: 17px;
$sec_two_span_type_height_large_laptop: 22px;
$sec_two_span_type_height_small_monitor: 25px;

$sec_two_span_type_color: $color_dark_three;
