#internal_banner {
  padding: 42px 35px;
  overflow: hidden;
  @include mq(small_tablet) {
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
  }
  @include mq(small_monitor) {
    min-height: 289px;
    @include flex(center, center);
  }
  span.double_line {
    max-width: 100px;
    @include margin_lr;
    @include mq(small_tablet) {
      display: none;
    }
  }
}

#internal_banner_content {
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    padding: 55px 0px;
  }
  @include mq(large_laptop) {
    padding: 64px 0px;
  }
  @include mq(small_monitor) {
    padding: 66px 0px;
  }
}

img#internal_hero {
  object-fit: cover;
  display: none;
  @include abs(0, null, null, 0);
  @include box(100%);
  @include mq(small_tablet) {
    display: block;
  }
  @include mq(small_laptop) {
    object-position: center center;
  }
}

.banner_title {
  margin-bottom: 15px;
  text-align: center;
  @include type(
    (
      size: $banner_title_size,
      height: $banner_title_height,
      weight: $banner_title_weight,
      family: $secondaryfont,
      color: $banner_title_color,
    )
  );
  @include mq(small_tablet) {
    max-width: 415px;
    display: block;
    margin: 0 auto 15px;
    @include type(
      (
        size: $banner_title_size_small_tablet,
        family: $secondaryfont,
        color: $banner_title_color_small_tablet,
        weight: $banner_title_weight_small_tablet,
      )
    );
  }
  @include mq(large_laptop) {
    max-width: 625px;
    @include quick_type(
      $banner_title_size_large_laptop,
      $banner_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 675px;
    @include quick_type(
      $banner_title_size_small_monitor,
      $banner_title_height_small_monitor,
      null
    );
  }
}

.internal_button {
  display: none;
  width: auto;
  @include mq(small_tablet) {
    display: inline-block;
  }
  span {
    padding: 14px 28px;
    font-size: $internal_button_size;
    @include mq(large_laptop) {
      font-size: $internal_button_size_large_laptop;
      padding: 16px 28px;
    }
    @include mq(small_monitor) {
      font-size: $internal_button_size_small_monitor;
      padding: 18px 28px;
    }
  }
}

#two_col_template_with_banner {
  // banner doesnt show on mobile and button doesnt show on large devices bc the sidebar form is visible already
  #internal_banner {
    display: none;
    @include mq(small_tablet) {
      display: block;
    }
  }
  .internal_button {
    @include mq(small_laptop) {
      display: none;
    }
  }
}
