////////////////////////////////////////////////////////////////////
// Internal Banner
////////////////////////////////////////////////////////////////////

// .banner_title

$banner_title_size: 35px;
$banner_title_size_small_tablet: 35px;
$banner_title_size_large_laptop: 55px;
$banner_title_size_small_monitor: 60px;

$banner_title_height: 35px;
$banner_title_height_large_laptop: 55px;
$banner_title_height_small_monitor: 70px;

$banner_title_weight: 500;
$banner_title_weight_small_tablet: 400;

$banner_title_color: $color_dark_three;
$banner_title_color_small_tablet: $color_light_one;

// .internal_button span

$internal_button_size: 18px;
$internal_button_size_large_laptop: 22px;
$internal_button_size_small_monitor: 24px;
