/////////////////////////////////////////////////////////////////////
// Section Five
////////////////////////////////////////////////////////////////////

// #sec_five_left span.double_line:before, &:after

$sec_five_double_line_bg_color: $color_bright_two;

// #sec_five_intro

$sec_five_intro_size: 24px;
$sec_five_intro_size_large_laptop: 30px;
$sec_five_intro_size_small_monitor: 45px;

$sec_five_intro_height: 26px;
$sec_five_intro_height_large_laptop: 32px;
$sec_five_intro_height_small_monitor: 45px;

$sec_five_intro_color: $color_dark_three;

$sec_five_intro_weight: 500;

// #sec_five_right.content blockquote

$sec_five_blockquote_size_small_monitor: 47px;

$sec_five_blockquote_height_small_monitor: 54px;
