////////////////////////////////////////////////////////////////////
// Section Three
////////////////////////////////////////////////////////////////////

// #sec_three_inner span.double_line:before:&:after

$sec_three_double_line_bg_color: $color_bright_one;

// h1#sec_three_header

$sec_three_header_size: 30px;
$sec_three_header_size_small_tablet: 48px;
$sec_three_header_size_large_laptop: 60px;
$sec_three_header_size_small_monitor: 70px;

$sec_three_header_height: 30px;
$sec_three_header_height_small_tablet: 48px;
$sec_three_header_height_large_laptop: 50px;
$sec_three_header_height_small_monitor: 65px;

$sec_three_header_color: $color_dark_three;

$sec_three_header_weight: 500;

// #sec_three_intro

$sec_three_intro_size: 15px;
$sec_three_intro_size_large_laptop: 17px;
$sec_three_intro_size_small_monitor: 19px;

$sec_three_intro_spacing: 0.38px;

$sec_three_intro_height: 28px;
$sec_three_intro_height_large_laptop: 30px;
$sec_three_intro_height_small_monitor: 35px;

$sec_three_intro_weight: 700;

// #sec_three_col_wrapper ul li:before

$sec_three_bullet_bg_color: $color_bright_two;
