////////////////////////////////////////////////////////////////////
// Footer and Contact Page Locations
////////////////////////////////////////////////////////////////////

// span.loc_title

$loc_title_size: 12px;
$loc_title_size_small_tablet: 12px;
$loc_title_size_large_laptop: 15px;
$loc_title_size_small_monitor: 16px;

$loc_title_spacing: 1.8px;

$loc_title_weight: 600;

// .loc_descrip

$loc_descrip_size: 20px;
$loc_descrip_size_small_tablet: 18px;
$loc_descrip_size_large_laptop: 22px;
$loc_descrip_size_small_monitor: 26px;

$loc_descrip_height: 23px;
$loc_descrip_height_small_tablet: 20px;
$loc_descrip_height_large_laptop: 25px;
$loc_descrip_height_small_monitor: 30px;

// a.loc_phone

$loc_phone_color: $color_light_one;

// a.get_directions

$get_directions_border_bg_color: $color_light_one;
$get_directions_border_bg_color_large_laptop: $color_light_one;

$get_directions_border_bg_color_hover: $color_light_one;

$get_directions_color: $color_light_one;

$get_directions_color_hover: $color_bright_one;

$get_directions_size: 10px;
$get_directions_size_large_laptop: 12px;
$get_directions_size_small_monitor: 14px;

$get_directions_spacing: 1.5px;

$get_directions_weight: 600;

// .social_media

$social_media_bg_color: $color_light_one;

$social_media_bg_color_hover: $color_bright_one;
